= t('mailer.dear', name: @post[:first_name])
= t('mailer.received_message', post_title: @post[:title], site_name: @site_name)
\------------------------------------------------
= t('ad.from')
\: #{"#{@sender[:full_name]} (#{@sender[:email]})"}
\#{simple_format(@message)}

\------------------------------------------------

\#{t('ad.get_back_to', first_name: @sender[:full_name])}

\#{t('mailer.thanks')}
\#{t('mailer.signature', name: @site_name)}
