!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %strong= t('mailer.dear', name: @post[:first_name])
    %p
      = t('mailer.received_message', post_title: @post[:title], site_name: @site_name)
    %hr/
    %p
      = t('ad.from')
      \: #{"#{@sender[:full_name]} (#{@sender[:email]})"}
    %p
      = simple_format(@message)
    %hr/
    %p
      = t('ad.get_back_to', first_name: @sender[:full_name])
    %p
      = t('mailer.thanks')
      %br/
      = t('mailer.signature', name: @site_name)
