<% content_for :head do %>

    <!-- Includes the main Leaflet CSS and JS files, as well as Mapbox files -->
    <%= render 'shared/map_scripts_before_body', include_all_scripts: false %>

    <style type="text/css">
        #map {
            width: 100%;
            height: 350px;
            margin: 0;
        }
    </style>

<% end %>

<div class="row">

  <%= render 'shared/admin_left_menu' %>


  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
      <ul class="breadcrumb">
        <li><a href="/user"><%= t('admin.dashboard') %></a></li>
        <% if current_user.admin? %>
            <li><a href="/user/managerecords"><%= t('admin.manage_records') %></a></li>
        <% else %>
            <li><a href="/user/manageads"><%= t('admin.ad.manage_ads') %></a></li>
        <% end %>
        <li><%= t('admin.update_ad')%></li>
      </ul>
    </div>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2>
              <i class="glyphicon glyphicon-edit"></i> <%= t('admin.ad.ad_edit') %>
            </h2>
          </div>


          <% if flash[:ad_updated] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <%= t('admin.ad.ad_updated', title: flash[:ad_updated]) %>
                <% if current_user.admin? %>
                    <a href="/user/managerecords#ads"><%= t('admin.back_to_records') %></a>
                <% else %>
                    <a href="/user/manageads"><%= t('admin.back_to_ads') %></a>
                <% end %>
              </div>
          <% end %>
          <% if flash[:error_ad] || flash[:error_delete_ad] %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <% if @ad && @ad.errors.any? %>
                    <strong><%= t('admin.ad.error_update', errors: pluralize(@ad.errors.count, t('home.error.one'), t('home.error.more'))) %>:</strong>

                    <ul>
                      <% @ad.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                <% else %>
                    <% if flash[:error_delete_ad] %>
                        <%= t('admin.ad.delete_ad_error_html', manage_ads_page: link_to(t('admin.ad.manage_ads_page'), '/user/manageads')) %>
                    <% end %>
                <% end %>
              </div>
          <% end %>

          <div class="box-content">
            <%= form_for [:user, @ad], html: { id: 'ad-edit-form', role: 'form', multipart: true } do |f| %>

                <!-- "Delete Ad" and "See published ad" buttons -->
                <div class="form-group">
                  <a href="#" class="btn btn-danger btn-delete-right btn-setting" style="margin-right: 10px;"><%= t('admin.ad.delete') %></a>
                  <%= link_to t('ad.see_published'), ad_path(@ad.id), {target: '_blank', class: 'btn btn-info'} %>
                </div>

                <hr />

                <!-- "Mandatory fields" note -->
                <div class="form-group">
                  <%= label_tag :field, t('admin.mandatory'), class:'control-label' %>
                </div>

                <div class="form-group"></div>

                <!-- Ad expiration date (2100-01-01: Ad does not expire) -->
                <% if @ad.expire_date.to_s != '2100-01-01' %>
                    <div class="form-group">
                      <div class="form-inline">
                        <% if Date.today > @ad.expire_date %>
                            <span class="ad-expiring"><%= t('ad.has_expired', expire_date: @ad.expire_date.to_s) %></span>
                        <% elsif Date.today < @ad.expire_date %>
                            <%= t('ad.expiration_date', expire_date: @ad.expire_date.to_s) %>
                        <% else %>
                            <span class="ad-expiring"><%= t('ad.expires_today') %></span>
                        <% end %>
                      </div>
                    </div>
                <% end %>

                <!-- Ad title -->
                <div class="form-group">
                  <%= f.label :title, t('ad.title'), class: 'control-label' %>
                  <div class="form-inline">
                    <%= f.text_field :title, class: 'form-control help-message', autofocus: true,
                                     :data => {:content => t('ad.title_help'), :placement => 'right',
                                               :toggle => 'popover', :trigger => 'hover'}, maxlength:'90' %>
                  </div>
                </div>

                <!-- Name to use -->
                <% if @ad.is_anonymous %>
                    <div class="form-group">
                      <%= f.label :anon_user, t('location.anon_publisher_name_note'), class: 'control-label' %>
                      <ul>
                          <li><%= f.label :anon_user, t('admin.name'), class: 'control-label' %>: <%= @ad.anon_name %></li>
                          <li><%= f.label :anon_user, t('admin.users.email'), class: 'control-label' %>: <%= @ad.anon_email %></li>
                      </ul>
                    </div>
                <% else %>
                    <div class="form-group">
                      <%= f.label :is_username_used, t('location.name_to_use'), class: 'control-label' %>
                      <div class="radio">
                        <label>
                          <%= f.radio_button :is_username_used, true, value: true %>
                          <%= t('location.name_username') %> (<%= @ad.user.username %>)
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <%= f.radio_button :is_username_used, false, value: false %>
                          <%= t('location.name_fullname') %> (<%= @ad.user.first_name %> <%= @ad.user.last_name %>)
                        </label>
                      </div>
                    </div>
                <% end %>

                <!-- Giving / Accepting items -->
                <div class="form-group">
                  <%= f.label :is_giving, t('location.ad_action'), class: 'control-label' %>
                  <div class="radio">
                    <label>
                      <%= f.radio_button :is_giving, true, checked: true %><%= t('location.ad_action_giving') %>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <%= f.radio_button :is_giving, false %><%= t('location.ad_action_accepting') %>
                    </label>
                  </div>
                </div>

                <!-- Items -->
                <div class="form-group">
                  <%= f.label :item, t('ad.item'), class: 'control-label' %>
                  <div class="form-inline">
                    <div id="items">
                      <%= f.fields_for :ad_items do |ad_item| %>
                          <%= render 'shared/ad_item_fields', f: ad_item %>
                      <% end %>
                      <%= link_to_add_association "<i class='glyphicon glyphicon-plus'></i> #{t('ad.add_item')}".html_safe, f, :ad_items, partial: 'shared/ad_item_fields', class: 'btn btn-success ad-add-item' %>
                    </div>
                  </div>
                </div>

                <% if !is_on_heroku && can_upload_image %>
                    <!-- Image upload - only possible when app deployed on server, for now -->
                    <div class="form-group">
                      <%= f.label :description, t('ad.upload_image'), class: 'control-label' %>
                      <div class="col-inline">
                        <%= f.file_field :image, class: 'form-control', style: 'border: 0px; box-shadow: none; height: auto;' %>
                        <%= f.hidden_field :image_cache, value: params[:image_cache] %>
                      </div>
                      <% if @ad.image? %>
                          <!-- if model validation fails on other fields, display image that was loaded previously -->
                          <% if is_image_available(@ad) %>
                              <div id="image-section">
                                <%= image_tag @ad.image_url(:normal).to_s %>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <%= f.check_box :remove_image %>
                                  <%= t('ad.remove_image') %>
                                </label>
                              </div>
                          <% elsif @ad.errors[:image].nil? || (@ad.errors[:image] && @ad.errors[:image].length == 0) %>
                              <div class="ad-processing">
                                <%= t('ad.image_currently_processed') %><br />
                                <%= t('ad.will_show_up') %>
                              </div>
                          <% end %>
                      <% else %>
                          <%= t('ad.less_than_limit') %>
                      <% end %>
                    </div>
                <% end %>


                <!-- Ad description -->
                <div class="form-group">
                  <%= f.label :description, t('ad.description')+'*:', class: 'control-label' %>
                  <div class="form-inline">
                    <%= f.text_area :description, class: 'form-control help-message', rows: 6, cols: 40,
                                    :data => {:content => t('ad.description_help'), :placement => 'right',
                                              :toggle => 'popover', :trigger => 'hover'} %>
                  </div>
                </div>

                <!-- List of all the different locations previously entered by the current user -->
                <div class="form-group">
                  <% if current_user == @ad.user %>
                      <!-- Case where a user edits their own ad -->
                      <!-- "Choose a location" section -->
                      <div id="new_location_form">
                        <% if user_locations_number > 0 %>
                            <!-- List of all the different locations previously entered by the current user -->
                            <div id="locations_from_list" class="form-group">
                              <%= f.label :location, t('location.location'), class: 'control-label' %>
                              <% current_user.locations.each_with_index do |loc, index| %>
                                  <div class='radio existing_location'>
                                    <label>
                                      <%= f.radio_button :location, loc.id, checked: @ad.location_id == loc.id, class: 'radio no-min-height' %><%= "#{loc.location_full_name} - #{loc.location_type_address}" %>
                                    </label>
                                  </div>
                              <% end %>
                            </div>
                        <% end %>

                        <!-- "Enter a new location" link -->
                        <%= link_to_add_association t('ad.new_location'), f, :location, partial: 'shared/location_form', class: 'btn btn-sm btn-info', style: 'margin-bottom: 30px;', form_name: 'form',
                                                    render_options: {locals: {label_class: 'control-label', col10: 'form-inline', col8: 'form-inline', col6: 'form-inline', col4: 'form-inline', col3: 'form-inline',
                                                                              col2: 'form-inline', col_radio: '', can_choose_existing_location: (current_user != nil && current_user.locations.length > 0)}} %>

                      </div>
                  <% else %>
                      <!-- Case where an admin edits someone else's ad. We don't let admin create a new location for them -->
                      <div id="new_location_form">
                        <% if @ad.is_anonymous %>
                            <!-- Show this anonymous user's location -->
                            <div id="locations_from_list" class="form-group">
                              <%= f.label :location, t('location.location'), class: 'control-label' %>
                              <%= link_to(@ad.location.location_full_name, edit_user_location_path(@ad.location.id)) %> - <%= @ad.location.location_type_address %>
                            </div>
                        <% elsif current_user != @ad.user %>
                            <!-- An admin is viewing another user's ad. Let's list this other user's location -->
                            <div id="locations_from_list" class="form-group">
                              <%= f.label :location, t('location.user_location'), class: 'control-label' %>
                              <% @ad.user.locations.each_with_index do |loc, index| %>
                                  <div class='radio existing_location'>
                                    <label>
                                      <%= f.radio_button :location, loc.id, checked: index == 0, class: 'radio no-min-height' %><%= link_to(loc.location_full_name, edit_user_location_path(loc.id)) %> - <%= loc.location_type_address %>
                                    </label>
                                  </div>
                              <% end %>
                            </div>
                        <% elsif user_locations_number > 0 %>
                            <!-- List of all the different locations previously entered by the current user -->
                            <div id="locations_from_list" class="form-group">
                              <%= f.label :location, t('location.location'), class: 'control-label' %>
                              <% current_user.locations.each_with_index do |loc, index| %>
                                  <div class='radio existing_location'>
                                    <label>
                                      <%= f.radio_button :location, loc.id, checked: index == 0, class: 'radio no-min-height' %><%= link_to(loc.location_full_name, edit_user_location_path(loc.id)) %> - <%= loc.location_type_address %>
                                    </label>
                                  </div>
                              <% end %>
                            </div>
                        <% end %>
                      </div>
                  <% end %>
                </div>

                <!-- Submit form -->
                <%= render 'shared/submit_section' %>

                <!-- After submit, a notification shows up here, if a new image is being uploaded -->
                <div class="form-group" style="margin-top: 15px;">
                  <span id="upload-in-progress"></span>
                </div>

            <% end %>
          </div>
        </div>
      </div>
      <!--/span-->


    </div>
    <!--/row -->

    <!-- content ends -->
  </div>
  <!--/#content.span10-->

</div><!--/fluid-row-->

<!-- "Delete ad" - modal window -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= t('admin.ad.delete_ad') %></h3>
      </div>
      <div class="modal-body">
        <p><%= t('admin.ad.delete_ad_permanently') %></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal"><%= t('home.cancel') %></a>
        <%= link_to t('admin.ad.delete_this_ad'), user_ad_path(@ad), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<!-- "Location not found" - modal window -->
<div class="modal hide fade" id="myErrorModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t('location.not_found')%></h3>
  </div>
  <div class="modal-body">
    <p><%= t('location.not_found_descr1')%></p>
    <p><%= t('location.not_found_descr2')%></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>


<% content_for :scripts do %>
    <!-- Admin screen related scripts -->
    <!-- javascript_include_tag 'admin' -->
    <!-- Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that creates the actual map -->
    <%= render 'shared/map_scripts_after_body', include_all_scripts: false %>
<% end %>
