.container
  .row
    #content.middle-col.col-xs-12.col-md-10
      / content starts
      %div
        %ul.breadcrumb
          - if current_user.admin?
            %li
              %a{:href => "/user/managerecords"}= t('admin.manage_records')
          - else
            %li
              %a{:href => "/user/manageads"}= t('admin.ad.manage_ads')
          %li= t('admin.update_ad')
      .row
        .box.col-md-12
          .box-inner
            .box-header.well{"data-original-title" => ""}
              %h2
                %i.glyphicon.glyphicon-edit
                = t('admin.ad.ad_edit')
            - if flash[:ad_updated]
              .alert.alert-success
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = t('admin.ad.ad_updated', title: flash[:ad_updated])
                - if current_user.admin?
                  %a{:href => "/user/managerecords#ads"}= t('admin.back_to_records')
                - else
                  %a{:href => "/user/manageads"}= t('admin.back_to_ads')
            - if flash[:error_ad] || flash[:error_delete_ad]
              .alert.alert-danger
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                - if @ad && @ad.errors.any?
                  %strong
                    = t('admin.ad.error_update', errors: pluralize(@ad.errors.count, t('home.error.one'), t('home.error.more')))
                    \:
                  %ul
                    - @ad.errors.full_messages.each do |msg|
                      %li= msg
                - else
                  - if flash[:error_delete_ad]
                    = t('admin.ad.delete_ad_error_html', manage_ads_page: link_to(t('admin.ad.manage_ads_page'), '/user/manageads'))

            .box-content
              = render 'user/ads/form', page: 'edit'


/ "Delete ad" - modal window
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3= t('admin.ad.delete_ad')
      .modal-body
        %p= t('admin.ad.delete_ad_permanently')
      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
        = link_to t('admin.ad.delete_this_ad'), user_ad_path(@ad), method: :delete, class: 'btn btn-danger'

/ "Location not found" - modal window
#myErrorModal.modal.hide.fade
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= t('location.not_found')
  .modal-body
    %p= t('location.not_found_descr1')
    %p= t('location.not_found_descr2')
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} OK
- content_for :scripts do
  / Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that creates the actual map
  = render 'shared/map_scripts_after_body', include_all_scripts: false

  :javascript
    adForm = new AdForm();
