<% content_for :head do %>

    <!-- Includes the main Leaflet CSS and JS files, as well as Mapbox files -->
    <%= render 'shared/mapScriptsBeforeBody', include_all_scripts: false %>

    <style type="text/css">
        #map {
            width: 100%;
            height: 350px;
            margin: 0;
        }
    </style>

    <script>
        // array containing all the item names, used for the type-ahead, on the item field.
        var all_items = <%= raw all_items.to_json %>;
    </script>

<% end %>

<div class="row">

<%= render 'user/shared/leftMenu' %>


<div id="content" class="col-lg-10 col-sm-10">
<!-- content starts -->

<div>
  <ul class="breadcrumb">
    <li><a href="/user"><%= t('admin.dashboard') %></a></li>
    <% if current_user.admin? %>
        <li><a href="/user/managerecords"><%= t('admin.manage_records') %></a></li>
    <% else %>
        <li><a href="/user/manageads"><%= t('admin.ad.manage_ads') %></a></li>
    <% end %>
    <li><%= t('admin.update_ad')%></li>
  </ul>
</div>

<div class="row">
<div class="box col-md-12">
<div class="box-inner">
<div class="box-header well" data-original-title="">
  <h2>
    <i class="glyphicon glyphicon-edit"></i> <%= t('admin.ad.ad_edit') %>
  </h2>
</div>


<% if flash[:ad_updated] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= t('admin.ad.ad_updated', title: flash[:ad_updated]) %>
      <% if current_user.admin? %>
          <a href="/user/managerecords#ads"><%= t('admin.back_to_records') %></a>
      <% else %>
          <a href="/user/manageads"><%= t('admin.back_to_ads') %></a>
      <% end %>
    </div>
<% end %>
<% if flash[:error_ad] || flash[:error_delete_ad] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <% if @ad && @ad.errors.any? %>
          <strong><%= t('admin.ad.error_update', errors: pluralize(@ad.errors.count, 'error')) %>:</strong>

          <ul>
            <% @ad.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
      <% else %>
          <% if flash[:error_delete_ad] %>
              <%= t('admin.ad.delete_ad_error_html', href: link_to(t('admin.ad.manage_ads_page'), '/user/manageads')) %>
          <% end %>
      <% end %>
    </div>
<% end %>

<div class="box-content">
  <%= form_for [:user, @ad], html: { id: 'ad-edit-form', role: 'form', multipart: true } do |f| %>


      <div class="form-group">
        <a href="#" class="btn btn-danger btn-delete-right btn-setting"><%= t('admin.ad.delete') %></a>
      </div>

      <div class="form-group">
        <%= label_tag :field, t('admin.mandatory'), class:'control-label' %>
      </div>

      <div class="form-group"></div>

      <!-- Ad expiration date (2100-01-01: Ad does not expire) -->
      <% if @ad.expire_date.to_s != '2100-01-01' %>
          <div class="form-group">
            <div class="form-inline">
              <% if Date.today > @ad.expire_date %>
                  <span class="ad-expiring"><%= t('ad.has_expired', expire_date: @ad.expire_date.to_s) %></span>
              <% elsif Date.today < @ad.expire_date %>
                  <%= t('ad.expiration_date', expire_date: @ad.expire_date.to_s) %>
              <% else %>
                  <span class="ad-expiring"><%= t('ad.expires_today') %></span>
              <% end %>
            </div>
          </div>
      <% end %>

      <!-- Ad title -->
      <div class="form-group">
        <%= f.label :title, t('ad.title'), class: 'control-label' %>
        <div class="form-inline">
          <%= f.text_field :title, class: 'form-control help-message', autofocus: true,
                           :data => {:content => t('ad.title_help'), :placement => 'right',
                                     :toggle => 'popover', :trigger => 'hover'}, maxlength:'90' %>
        </div>
      </div>

      <!-- Name to use -->
      <div class="form-group">
        <%= f.label :is_anonymous, t('location.name_to_use'), class: 'control-label' %>
        <div class="radio">
          <label>
            <%= f.radio_button :is_anonymous, true, value: true %>
            <%= t('location.name_username') %> (<%= @ad.user.username %>)
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :is_anonymous, false, value: false %>
            <%= t('location.name_fullname') %> (<%= @ad.user.first_name %> <%= @ad.user.last_name %>)
          </label>
        </div>
      </div>

      <!-- Item -->
      <div class="form-group">
        <%= f.label :item, t('ad.item'), class: 'control-label' %>
        <div class="form-inline">
          <%= text_field_tag 'ad_item', @ad.item.name, class: 'form-control help-message', autocomplete: 'off',
                             :data => {:provide => 'typeahead', :content => t('ad.item_help'), :placement => 'right',
                                       :toggle => 'popover', :trigger => 'hover'}, size: 30 %>
        </div>
      </div>

      <!-- Number of items -->
      <div class="form-group">
        <%= f.label :number_of_items, t('ad.number_item'), class: 'control-label' %>
        <div class="form-inline">
          <%= f.number_field :number_of_items, class: 'form-control', maxlength: '2', min: 0, max: 1000 %>
        </div>
      </div>

      <!-- Categories -->
      <div id="category-section" class="form-group hide">
        <%= f.label :category, t('ad.category'), class: 'control-label' %>
        <div class="form-inline">
          <%= select_tag :category, options_for_select(@categories, @ad.item.category.id), class: 'form-control help-message',
                         :data => {:content => t('ad.category_help'), :placement => 'right',
                                   :toggle => 'popover', :trigger => 'hover'} %>
          <!-- Message that asks user to choose a category, when new item is entered in field above -->
          <div id="item_notification" style="display: inline-block"></div>
        </div>
      </div>

      <!-- Giving / Accepting items -->
      <div class="form-group">
        <%= f.label :is_giving, t('location.ad_action'), class: 'control-label' %>
        <div class="radio">
          <label>
            <%= f.radio_button :is_giving, true, checked: true %><%= t('location.ad_action_giving') %>
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :is_giving, false %><%= t('location.ad_action_accepting') %>
          </label>
        </div>
      </div>

      <!-- Image upload -->
      <div class="form-group">
        <%= f.label :description, t('ad.upload_image'), class: 'control-label' %>
        <div class="col-inline">
          <%= f.file_field :image, class: 'form-control', style: 'border: 0px; box-shadow: none; height: auto;' %>
          <%= f.hidden_field :image_cache %>
          <% if @ad.image? %>
              <!-- if model validation fails on other fields, display image that was loaded previously -->
              <% if is_image_available(@ad) %>
                  <%= image_tag @ad.image_url(:normal).to_s %>
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :remove_image %>
                      <%= t('ad.remove_image') %>
                    </label>
                  </div>
              <% else %>
                  <div class="ad-processing">
                    <%= t('ad.image_currently_processed') %><br />
                    <%= t('ad.will_show_up') %>
                  </div>
              <% end %>
          <% else %>
              <%= t('ad.no_image_yet') %>
          <% end %>
        </div>
      </div>

      <!-- Ad description -->
      <div class="form-group">
        <%= f.label :description, t('ad.description'), class: 'control-label' %>
        <div class="form-inline">
          <%= f.text_area :description, class: 'form-control help-message', rows: 6, cols: 40,
                          :data => {:content => t('ad.description_help'), :placement => 'right',
                                    :toggle => 'popover', :trigger => 'hover'} %>
        </div>
      </div>

      <hr />

      <h4><%= t('location.location') %></h4>



      <!-- List of all the different locations previously entered by the current user -->
      <div class="form-group">
        <% if current_user == @ad.user %>
            <%= f.label :location_id, t('admin.ad.your_locations'), class: 'control-label' %>
        <% else %>
            <%= f.label :location_id, t('admin.ad.this_user_locations'), class: 'control-label' %>
        <% end %>


        <% @ad.user.locations.each do |loc| %>

            <div class='radio existing_location'>
              <label>
                <%= f.radio_button :location_id, loc.id , checked: @ad.location_id == loc.id, class: 'radio no-min-height' %>
                <%= loc.location_type_address %> - <a href="/user/locations/<%= loc.id %>/edit"><%= loc.location_full_name %></a>
              </label>
            </div>
        <% end %>
        <label style="font-weight: normal;"><%= t('home.or') %></label>
        <div class='radio'>
          <label>
            <input id="new_location_radio" type="radio" name="location_id" value=0>
            <%= t('admin.ad.location_new_edit', current_location: "#{@ad.location.location_full_name} - #{@ad.location.location_type_address}") %>
          </label>
        </div>
      </div>

      <div id="new_location_section" class="hide">

        <%= f.fields_for :location, :html => {:class => 'form-horizontal'} do |loc| %>

            <h4><%= t('ad.edit_current_location') %></h4>

            <!-- Partial that contains the location form -->
            <%= render 'shared/locationForm', form: loc, location: @ad.location,
                       label_class: 'control-label', col10: 'form-inline', col6: 'form-inline',
                       col4: 'form-inline', col3: 'form-inline',
                       col2: 'form-inline', col_radio: '' %>

        <% end %>

      </div>

      <%= render 'user/shared/submitSection' %>
      <div>
        <span id="upload-in-progress"></span>
      </div>


  <% end %>
</div>
</div>
</div>
<!--/span-->


</div>
<!--/row -->

<!-- content ends -->
</div>
<!--/#content.span10-->

</div><!--/fluid-row-->

<hr>

<!-- "Delete ad" - modal window -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= t('admin.ad.delete_ad') %></h3>
      </div>
      <div class="modal-body">
        <p><%= t('admin.ad.delete_ad_permanently') %></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal"><%= t('admin.cancel') %></a>
        <%= link_to t('admin.ad.delete_this_ad'), user_ad_path(@ad), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<!-- "Location not found" - modal window -->
<div class="modal hide fade" id="myErrorModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t('location.not_found')%></h3>
  </div>
  <div class="modal-body">
    <p><%= t('location.not_found_descr1')%></p>
    <p><%= t('location.not_found_descr2')%></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>


<% content_for :scripts do %>
    <!-- Includes all the Javascript related to map rendering (Leaflet, MapQuest, and initializeMap partial that create the actual map -->
    <%= render 'shared/mapScriptsAfterBody', include_all_scripts: false %>

    <script>
        $('#ad-edit-form').submit(function() {
            var image_path = $('#ad_image').val();
            if (image_path != null && image_path != ''){
                $('#upload-in-progress').html('<i>New image is being uploaded. Please wait.</i>');
            }
        });
    </script>
<% end %>