<% content_for :head do %>

    <!-- Includes the main Leaflet CSS and JS files, as well as Mapbox files -->
    <%= render 'shared/map_scripts_before_body', include_all_scripts: false %>

    <!-- Specific map scripts loaded for this page -->
    <%= stylesheet_link_tag 'leaflet.awesome-markers' %>
    <%= stylesheet_link_tag 'font-awesome.min' %>
    <%= stylesheet_link_tag 'MarkerCluster' %>
    <%= stylesheet_link_tag 'MarkerCluster.Default' %>

    <style type="text/css">
        #map {
            width: 100%;
            height: 300px;
            margin: 0;
        }
    </style>

<% end %>





<div class="container">

  <% if flash[:new_ad] %>
      <div class="alert alert-dismissable alert-success" style="margin-top: 21px;">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <%= t('ad.create_success', title: flash[:new_ad]) %>
      </div>
      <% if flash[:ad_expire] %>
          <div class="alert alert-dismissable alert-info">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <%= flash[:ad_expire] %>
          </div>
      <% end %>
  <% end %>
  <% if flash[:success] %>
      <div class="alert alert-dismissable alert-success" style="margin-top: 21px;">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <%= flash[:success] %>
      </div>
  <% end %>
  <% if flash[:error_message] %>
      <div class="alert alert-dismissable alert-danger" style="margin-top: 21px;">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <%= flash[:error_message] %>
      </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <h3><%= @ad.title %></h3>

      <div class="ad-title">
        <% if !is_owning(@ad) %>
            <!-- Ad publisher -->
            <label class="ad-label"><%= t('ad.published') %></label>
            <span><%= publisher_name(@ad) %></span>
        <% else %>
            <% if @your_ad_has_expired %>
                <strong><%= t('ad.you_own') %></strong><br>
                <span class="ad-expiring"><%= t('ad.has_expired', expire_date: @ad.expire_date)%></span>
            <% else %>
                <strong><%= t('ad.you_own') %></strong> <%= t('ad.you_manage')%> <a href="/user/ads/<%= @ad.id %>/edit"><%= t('ad.here')%></a>.
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 ad-paragraph">
      <!-- Right-hand side: Map -->
      <div id="map"></div>
    </div>
  </div>

  <% if @ad.image? %>
      <div class="row">
        <div class="col-lg-7 col-sm-12 ad-paragraph">
          <%= render 'shared/ad_summary' %>
        </div>

        <!-- Ad image -->
        <div class="col-lg-5 col-sm-12 ad-image">
          <% if is_image_available(@ad) %>
              <%= image_tag @ad.image_url(:normal).to_s, width: '100%' %>
          <% else %>
              <div class="ad-processing">
                <%= t('ad.show_ad_image_processed') %><br />
                <%= t('ad.will_show_up') %>
              </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 ad-paragraph">
          <!-- Ad description -->
          <div class="ad-show-description">
            <label class="ad-label"><%= t('ad.description') %>:</label>
            <span><%= simple_format(@ad.description) %></span>
          </div>
        </div>
      </div>
  <% else %>

      <div class="row">
        <div class="col-lg-12 ad-paragraph">

          <%= render 'shared/ad_summary' %>

          <!-- Ad description -->
          <div class="ad-show-description">
            <label class="ad-label"><%= t('ad.description') %>:</label>
            <span><%= simple_format(@ad.description) %></span>
          </div>
        </div>
      </div>

  <% end %>

  <div class="row">
    <!-- 'Send message' text area -->
    <%= render 'shared/ads_send_message', ad: @ad %>
  </div>


</div>

<div id="push"></div>

<!-- Rendering JS scripts -->
<% content_for :scripts do %>
    <%= javascript_include_tag 'leaflet.markercluster' %>

    <!-- Includes all the Javascript related to map rendering (Leaflet, MapQuest, and initialize_map partial that create the actual map -->
    <%= render 'shared/map_scripts_after_body', include_all_scripts: false %>
<% end %>