<div class="row">

  <%= render 'user/shared/leftMenu' %>

  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <!-- Success/Error flash messages -->
    <% if flash[:error] %>
        <div class="box-content alerts">
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>
        </div>
    <% end %>
    <% if flash[:success] %>
        <div class="box-content alerts">
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= t('admin.users.user_destroyed', email: flash[:success]) %>
          </div>
        </div>
    <% end %>

    <div>
      <ul class="breadcrumb">
        <li>
          <a href="/user"><%= t('admin.dashboard') %></a>
        </li>
        <li>
          <%= t('admin.users.title') %>
        </li>
      </ul>
    </div>

    <%= t('admin.users.description') %>

    <div class="row">
      <div class="box col-md-12">

        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> <%= t('admin.users.title') %></h2>
          </div>

          <div class="box-content">

            <p class="left">
              <a class="btn btn-success" href="/user/users/new">
                <i class="glyphicon glyphicon-plus icon-white"></i>
                <%= t('admin.users.add') %>
              </a>
            </p>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
              <thead>
              <tr>
                <th>ID </th>
                <th><%= t('admin.users.email') %></th>
                <th><%= t('admin.users.full_name') %></th>
                <th><%= t('admin.users.role') %></th>
                <th><%= t('admin.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% User.all.each do |user| %>
                  <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.first_name %> <%= user.last_name %></td>
                    <td><%= user.role %></td>
                    <td class="center"><a class="btn btn-info" href="/user/users/<%= user.id %>/edit"> <i class="glyphicon glyphicon-edit"></i> Edit details / Delete </a>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <!-- content ends -->
  </div>
  <!--/#content.span10-->

</div><!--/fluid-row-->

<hr>
