<% content_for :head do %>

    <%= stylesheet_link_tag 'font-awesome.min' %>

<% end %>

<div class="row">

<%= render 'user/shared/leftMenu' %>

<div id="content" class="col-lg-10 col-sm-10">
<!-- content starts -->

<!-- Success/Error flash messages -->
<% if flash[:success] %>
    <div class="box-content alerts">
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:success] %>
      </div>
    </div>
<% end %>


<div>
  <ul class="breadcrumb">
    <li>
      <a href="/user"><%= t('admin.dashboard') %></a>
    </li>
    <li>
      <%= t('admin.manage_records') %>
    </li>
  </ul>
</div>

<%= t('admin.records_message') %>

<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-align-justify"></i> <%= t('admin.manage_records') %></h2>
      </div>

      <!-- Tabs -->
      <ul class="nav nav-tabs" id="records-tabs">
        <li class="active"><a href="#ads" data-toggle="tab"><%= t('admin.ads') %></a></li>
        <li><a href="#locations" data-toggle="tab"><%= t('admin.locations') %></a></li>
        <li><a href="#items" data-toggle="tab"><%= t('admin.items') %></a></li>
        <li><a href="#categories" data-toggle="tab"><%= t('admin.categories') %></a></li>
      </ul>
      <!-- Tabs end -->

      <!-- Tab panes -->
      <div class="tab-content">

        <!-- Ad tab pane -->
        <div class="tab-pane active" id="ads">
          <div class="box-content">

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
              <thead>
              <tr>
                <th>ID </th>
                <th><%= t('admin.title') %></th>
                <th><%= t('admin.ad.giving_accepting_title') %></th>
                <th><%= t('admin.items') %></th>
                <th><%= t('admin.created_by_user') %></th>
                <th><%= t('admin.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% Ad.includes(:items).all.each do |ad| %>
                  <tr>
                    <td class="vert-align"><%= ad.id %></td>
                    <td class="vert-align"><%= ad.title %></td>
                    <td class="vert-align"><%= ad.is_giving ? t('admin.ad.giving_away') : t('admin.ad.accepting') %></td>
                    <td class="vert-align"><%= ad.item_list %></td>
                    <td class="vert-align"><%= ad.email_to_display %></td>
                    <td class="center"><a class="btn btn-info" href="/user/ads/<%= ad.id %>/edit"> <i class="glyphicon glyphicon-pencil"></i> <%= t('admin.edit_delete') %> </a>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
        <!-- Ad tab pane end -->

        <!-- Location tab pane -->
        <div class="tab-pane" id="locations">
          <div class="box-content">

            <p class="left">
              <a class="btn btn-success" href="/user/locations/new">
                <i class="glyphicon glyphicon-plus icon-white"></i>
                <%= t('admin.add_location') %>
              </a>
            </p>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
              <thead>
              <tr>
                <th>ID </th>
                <th><%= t('admin.name') %></th>
                <th><%= t('admin.exact_area') %></th>
                <th><%= t('admin.address') %></th>
                <th><%= t('admin.created_by_user') %></th>
                <th><%= t('admin.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% Location.all.each do |location| %>
                  <tr>
                    <td class="vert-align"><%= location.id %></td>
                    <td class="vert-align"><%= location.name %></td>
                    <td class="vert-align"><%= location.loc_type %></td>
                    <% if location.loc_type == 'exact' %>
                        <td class="vert-align"><%= location.street_number %>&nbsp;<%= location.address %></td>
                    <% elsif location.loc_type == 'district' %>
                        <td class="vert-align"><%= location.district.name %></td>
                    <% else %>
                        <td class="vert-align"><%= location.postal_code %></td>
                    <% end %>
                    <td class="vert-align"><%= location.user ? location.user.email : t('admin.location.anonymous_user') %></td>
                    <td class="center"><a class="btn btn-info" href="/user/locations/<%= location.id %>/edit"> <i class="glyphicon glyphicon-pencil"></i> <%= t('admin.edit_delete') %> </a>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
        <!-- Location tab pane end -->

        <!-- Items tab pane -->
        <div class="tab-pane" id="items">
          <div class="box-content">

            <p class="left">
              <a class="btn btn-success" href="/user/items/new">
                <i class="glyphicon glyphicon-plus icon-white"></i>
                <%= t('admin.add_item') %>
              </a>
            </p>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
              <thead>
              <tr>
                <th>ID</th>
                <th><%= t('admin.name') %></th>
                <th><%= t('admin.item.category') %></th>
                <th><%= t('admin.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% Item.all.each do |item| %>
                  <tr>
                    <td class="vert-align"><%= item.id %></td>
                    <td class="vert-align"><%= item.capitalized_name %></td>
                    <td class="vert-align"><i class="fa <%= item.category.icon %>" style="color: <%= "#{MARKER_COLORS[item.category.marker_color]}" %>;"></i>&nbsp;<%= item.category.name %></td>
                    <td class="center"><a class="btn btn-info" href="/user/items/<%= item.id %>/edit"> <i class="glyphicon glyphicon-pencil"></i> Edit / Show details </a></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
        <!-- Items tab pane end-->

        <!-- Categories tab pane -->
        <div class="tab-pane" id="categories">
          <div class="box-content">

            <p class="left">
              <a class="btn btn-success" href="/user/categories/new">
                <i class="glyphicon glyphicon-plus icon-white"></i>
                <%= t('admin.add_category') %>
              </a>
            </p>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
              <thead>
              <tr>
                <th>ID </th>
                <th><%= t('admin.category_name') %></th>
                <th><%= t('admin.marker') %></th>
                <th><%= t('admin.icon') %></th>
                <th><%= t('admin.description') %></th>
                <th><%= t('admin.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% Category.all.each do |category| %>
                  <tr>
                    <td class="vert-align"><%= category.id %></td>
                    <td class="vert-align"><%= category.name %></td>
                    <td style="text-align: center; vertical-align: middle;"><%= image_tag "images/marker-#{category.marker_color}.png", title: category.marker_color %></td>
                    <td style="text-align: center; vertical-align: middle;"><i class="fa <%= category.icon %>" title="<%= category.icon_name %>"> </i></td>
                    <td class="vert-align"><%= category.description %></td>
                    <td class="vert-align"><a class="btn btn-info" href="/user/categories/<%= category.id %>/edit"> <i class="glyphicon glyphicon-pencil"></i> <%= t('admin.edit_delete') %> </a>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
        <!-- Categories tab pane end-->
      </div>
      <!-- Tab panes end -->

    </div>
  </div>

  <!-- content ends -->
</div>
<!--/#content.span10-->

</div><!--/fluid-row-->

</div>
