<!-- "Delete location" modal window -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= t('admin.location.delete') %>?</h3>
      </div>
      <div class="modal-body">
        <% if @location.ads && @location.ads.length > 0 %>
            <p><%= t('admin.warning_ads_before_delete_location') %></p>
        <% end %>
        <p><%= t('admin.delete_sure', entity: t('admin.location_name')) %></p>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal"><%= t('home.cancel') %></a>
        <%= link_to t('admin.delete_confirm', entity: t('admin.location_name')), user_location_path(@location), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>