<% content_for :head do %>

    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

    <style type="text/css">
        html,body,#map {
            width: 100%;
            height: 350px;
            margin: 0;
        }
    </style>

<% end %>

<div class="row">

  <%= render 'shared/admin_left_menu' %>


  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
      <ul class="breadcrumb">
        <li><a href="/user"><%= t('admin.dashboard') %></a></li>
        <% if current_user.admin? %>
            <li><a href="/user/managerecords"><%= t('admin.manage_records') %></a></li>
        <% else %>
            <li><a href="/user/manageads"><%= t('admin.manage_your_ads') %></a></li>
        <% end %>
        <% if is_adding_new %>
            <li><%= t('admin.add_location') %></li>
        <% else %>
            <li><%= t('admin.edit_location') %></li>
        <% end %>
      </ul>
    </div>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2>
              <% if is_adding_new %>
                  <i class="glyphicon glyphicon-plus"></i> <%= t('admin.new_location') %>
              <% else %>
                  <i class="glyphicon glyphicon-edit"></i> <%= t('admin.edit_location') %>
              <% end %>
            </h2>
          </div>


          <% if @location && @location.errors.any? %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><%= t('admin.location.error_occurred', errors: pluralize(@location.errors.count, t('home.error.one'), t('home.error.more'))) %>:</strong>
                <ul>
                  <% @location.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <% if flash[:name] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= t('admin.location.update_success', name: flash[:name]) %>
                <% if current_user.admin? %>
                    <a href="/user/managerecords#locations"><%= t('admin.back_to_records') %></a>
                <% else %>
                    <a href="/user/manageads#locations"><%= t('admin.back_to_ads') %></a>
                <% end %>
              </div>
          <% end %>
          <% if flash[:new_name] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= t('admin.location.created_success', name: flash[:new_name]) %>
                <% if current_user.admin? %>
                    <a href="/user/managerecords#locations"><%= t('admin.back_to_records') %></a>
                <% else %>
                    <a href="/user/manageads#locations"><%= t('admin.back_to_ads') %></a>
                <% end %>
              </div>
          <% end %>

          <div class="box-content">
            <%= form_for [:user, @location], html: { id: 'locationForm', role: 'form' } do |f| %>

                <% if !is_adding_new %>
                    <div class="form-group">
                      <a href="#" class="btn btn-danger btn-delete-right btn-setting"><%= t('admin.location.delete') %></a>
                    </div>

                    <div class="form-group">
                      <%= label_tag :nameId, t('admin.mandatory'), class:'control-label' %>
                    </div>

                    <% if current_user.admin? %>
                        <div class="form-inline">
                          <%= label_tag :idId, 'Id:', class:'control-label' %>
                          <%= @location.id %>
                        </div>
                    <% end %>

                    <div class="form-group"></div>
                <% end %>

                <!-- Partial that contains the location form -->
                <%= render 'shared/location_form', form: f, location: @location,
                           label_class: 'control-label', col10: 'form-inline', col8: 'form-inline', col6: 'form-inline',
                           col4: 'form-inline', col3: 'form-inline',
                           col2: 'form-inline', col_radio: ''%>

                <% if !is_adding_new %>
                    <!-- List of items that can be found at this location -->
                    <div class="form-group">
                      <% if @location.ads.length > 0 %>
                          <%= label_tag :ad_linked, t('admin.location.linked_ads')+':', class:'control-label' %>
                          <table
                          class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead>
                            <tr>
                              <th>ID</th>
                              <th><%= t('ad.title') %></th>
                              <th><%= t('admin.items') %></th>
                              <th><%= t('ad.description') %></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @location.ads.each do |ad| %>
                                <tr>
                                  <td><%= ad.id %></td>
                                  <td><a href="/user/ads/<%= ad.id %>/edit"><%= ad.title %></a></td>
                                  <td><%= ad.items.map{|i| i.name}.join(', ') %></td>
                                  <td><%= ad.description %></td>
                                </tr>
                            <% end %>
                            </tbody>
                          </table>
                      <% else %>
                          <strong><%= t('admin.location.no_ad') %></strong>
                      <% end %>
                    </div>
                <% end %>

                <!-- Submit button and cancel link -->
                <%= render 'shared/submit_section' %>

            <% end %>
          </div>
        </div>
      </div>
      <!--/span-->


    </div>
    <!--/row -->

    <!-- content ends -->
  </div>
  <!--/#content.span10-->

</div><!--/fluid-row-->

<% if !is_adding_new %>
    <!-- "Delete location" modal window -->
    <%= render 'delete_modal_window' %>

<% end %>

<div class="modal fade" id="myErrorModal" tabindex="-1" role="dialog" aria-labelledby="myErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= t('location.not_found') %></h3>
      </div>
      <div class="modal-body">
        <p><%= t('location.not_found_descr1') %></p>
        <p><%= t('location.not_found_descr2') %></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">OK</a>
      </div>
    </div>
  </div>
</div>


<% content_for :scripts do %>
    <!-- Includes all the Javascript related to map rendering (Leaflet, MapQuest, and initialize_map partial that create the actual map -->
    <%= render 'shared/map_scripts_after_body', include_all_scripts: false %>
<% end %>
