/ Left-hand side: Items
.show_ad_paragraph
  - if @ad.giving
    %label.ad-label
      = t('ad.giving_away')
      \:
  - else
    %label.ad-label
      = t('ad.accepting')
      \:
  %span
    %ul
      - @ad.ad_items.each do |ad_item|
        %li{:style => "list-style-type: none;"}
          %i{:class => "fa #{ad_item.item.category.icon}", :style => "color: #{"#{MARKER_COLORS[ad_item.item.category.marker_color]}"};"}>
           #{ad_item.item.capitalized_name}
/ Left-hand side: Location
.show_ad_paragraph
  %label= t('location.location')+':'
  %span= @ad.location.full_address

/ Left-hand side: Phone number
- if @ad.location.phone_number.present?
  .show_ad_paragraph
    %label= t('location.phone_number')
    %span= @ad.location.phone_number

/ Left-hand side: Website
- if @ad.location.website.present?
  .show_ad_paragraph
    %label= t('ad.location_website')
    %span
      %a{:href => "#{@ad.location.full_website_url}", :target => "_blank"}= @ad.location.website

/ Location description
- if @ad.location.description.present?
  .show_ad_paragraph
    %label= t('ad.location_description')
    %span= simple_format(@ad.location.description)

/ Ad description
.show_ad_paragraph
  %label
    = t('ad.description')
    \:
  %span= simple_format(@ad.description)
