<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
  <div class="sidebar-nav">
    <div class="nav-canvas">
      <div class="nav-sm nav nav-stacked">

      </div>
      <ul class="nav nav-pills nav-stacked main-menu">
        <% if current_user.admin? %>
            <li class="nav-header"><%= t('admin.left_menu.admin_task') %></li>
            <li><a class="ajax-link" href="/user/index"><i class="glyphicon glyphicon-home"></i><span> <%= t('admin.dashboard') %></span></a></li>
            <li><a class="ajax-link" href="/user/managerecords"><i class="glyphicon glyphicon-align-justify"></i><span> <%= t('admin.manage_records') %></span></a></li>
            <li><a class="ajax-link" href="/user/manageusers"><i class="glyphicon glyphicon-user"></i><span> <%= t('admin.left_menu.manage_users') %></span></a></li>
            <li><a class="ajax-link" href="/user/generalsettings"><i class="glyphicon glyphicon-wrench"></i><span> <%= t('admin.general_settings_menu') %></span></a></li>
            <li><a class="ajax-link" href="/user/mapsettings"><i class="glyphicon glyphicon-map-marker"></i><span> <%= t('admin.left_menu.map_settings') %></span></a></li>
            <li><a class="ajax-link" href="/user/areasettings"><i class="glyphicon glyphicon-globe"></i><span> <%= t('admin.left_menu.area_settings') %></span></a></li>
            <li class="nav-header hidden-md"><%= t('admin.left_menu.user_tasks') %></li>
            <li><a class="ajax-link" href="/user/manageads"><i class="glyphicon glyphicon-pencil"></i><span> <%= t('admin.manage_your_ads') %></span></a></li>
            <li><a class="ajax-link" href="/user/manageprofile"><i class="glyphicon glyphicon-user"></i><span> <%= t('admin.left_menu.manage_profile') %></span></a></li>
         <% else %>
            <li><a class="ajax-link" href="/user/index"><i class="glyphicon glyphicon-home"></i><span> <%= t('admin.dashboard') %></span></a></li>
            <li><a class="ajax-link" href="/user/manageads"><i class="glyphicon glyphicon-pencil"></i><span> <%= t('admin.manage_your_ads') %></span></a></li>
            <li><a class="ajax-link" href="/user/manageprofile"><i class="glyphicon glyphicon-user"></i><span> <%= t('admin.left_menu.manage_profile') %></span></a></li>
         <% end %>

      </ul>
    </div>
  </div>
</div>
<!-- left menu ends -->

<noscript>
  <div class="alert alert-block col-md-12">
    <h4 class="alert-heading">Warning!</h4>

    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
      enabled to use this site.</p>
  </div>
</noscript>
