<% if is_in_admin_panel %>
    <!-- Footer of the admin panel -->
    <hr>

    <footer class="row">
      <p class="col-md-4 col-sm-4 col-xs-12">
        <%= t('home.footer_theme_html', charisma: (link_to 'Charisma', 'http://usman.it/free-responsive-admin-template', target: '_blank')) %> -
        <%= t('home.footer_powered_by_html', madloba_link: (link_to 'Madloba', 'http://madloba.org', target: '_blank')) %>
      </p>
    </footer>
<% else %>
    <!-- Footer of the regular pages -->
    <footer id="footer">
      <div class="container-fluid lower-footer">
        <% if is_in_setup_mode %>
            <!-- Footer for setup pages -->
            <p class="muted footer-message"><%= t('home.footer_new_powered_by_html', madloba_link: (link_to 'Madloba', 'http://madloba.org', target: '_blank')) %></p>
        <% else %>
            <!-- Footer for regular pages -->
            <p class="muted footer-message"><%= site_name %> - <%= t('home.footer_powered_by_html', madloba_link: (link_to 'Madloba', 'http://madloba.org', target: '_blank')) %></p>
        <% end %>
      </div>
    </footer>
<% end %>