<% content_for :head do %>
    <script>
        var districts_geocodes = <%= raw districts_geocodes.to_json %>;
    </script>
<% end %>

<!-- Location name -->
<div class="form-group">

  <%= form.label :name, t('location.name'), class: label_class %>
  <div class='<%= col6 %>'>
    <%= form.text_field :name, class: 'form-control help-message', maxlength:'90',
                        :data => {:content => t('location.name_help'),
                                  :placement => 'right', :toggle => 'popover', :trigger => 'hover focus'} %>
  </div>
</div>

<!-- Choose between 'exact location (address)' or 'area location (postal code or district)' -->
<div class="form-group">
  <%= form.label :loc_type, t('location.definition'), class: "#{col2} #{label_class}" %>
    <div class="<%= col_radio %>">
        <div class="radio">
          <label>
            <%= form.radio_button :loc_type, 'exact', {checked: true, class: 'location_type_exact'}  %>
            <%= t('location.definition_exact') %>
          </label>
        </div>
        <% if (area_type) && (area_type.include?'postal') %>
            <div class="radio">
              <label>
                <%= form.radio_button :loc_type, 'postal', {class: 'location_type_postal_code'} %>
                <%= t('location.definition_postal_code') %>
              </label>
            </div>
        <% end %>
        <% if (area_type) && (area_type.include?'district') %>
            <div class="radio">
              <label>
                <%= form.radio_button :loc_type, 'district', {class: 'location_type_district'} %>
                <%= t('location.definition_district') %>
              </label>
            </div>
        <% end %>
    </div>
</div>

<div class="exact_location_section">
  <!-- Street number -->
  <div class="form-group">
    <%= form.label :street_number, t('location.street_number'), class: label_class %>
    <div class='<%= col2 %>'>
      <%= form.text_field :street_number, class: 'form-control location_streetnumber', maxlength:'6' %>
    </div>
  </div>

  <!-- Street name -->
  <div class="form-group">
    <%= form.label :address, t('location.street_name'), class: label_class %>
    <div class='<%= col6 %>'>
      <%= form.text_field :address, class: 'form-control help-message location_streetname', maxlength:'90',
                          :data => {:content => t('location.street_name_help'),
                                    :placement => 'right', :toggle => 'popover', :trigger => 'hover focus'} %>
    </div>
  </div>
</div>

<div id="postal_code_section">
  <!-- Postal code ('area' type or 'exact' type address) -->
  <div class="form-group">
    <%= form.label :postal_code, t('location.postal_code'), class: label_class %>
    <div class='<%= col4 %>'>
        <%= form.text_field :postal_code, class: 'form-control location_postal_code', maxlength:'8' %>
        <span id="postal_code_notification"></span>
    </div>
  </div>

  <!-- Geocode (latitude and longitude hidden fields) -->
  <%= form.hidden_field :latitude, value: @mapSettings['lat'], class: 'latitude_hidden' %>
  <%= form.hidden_field :longitude, value: @mapSettings['lng'], class: 'longitude_hidden' %>

  <% if location.id %>
      <%= hidden_field_tag 'location_to_update', location.id %>
  <% end %>

</div>

<div class="exact_location_section">
  <!-- "Define geocodes & find address on the map" button -->
  <div class="form-group">
    <span class='<%= label_class %>'></span>
    <div class='<%= col4 %>'>

      <a id="findGeocodeAddressMapBtnId" class="btn btn-info" data-toggle="popover"
         data-content="<%= t('home.click_on_map_after') %>"
         data-placement="right" data-trigger="hover">
        <%= t('location.define_geocode_button') %>
      </a>

      <span id="findGeocodeLoaderId"></span>
      <span id="geocodeErrorMessageId"></span>
    </div>
  </div>
</div>

<div id="district_section">
  <!-- List of district ('area' type address only) -->
  <div class="form-group">
    <%= form.label :district_id, t('location.district'), class: label_class %>
    <div class='<%= col3 %>'>
      <%= form.select :district_id, options_for_select(districts, location.district_id), {}, {class: 'form-control help-message district_dropdown',
                                                                         :data => {:content => t('location.district_help'), :placement => 'right',
                                                                                   :toggle => 'popover', :trigger => 'hover focus'}} %>
      <%= form.hidden_field :latitude, value: @mapSettings['lat'], class: 'latitude_hidden' %>
      <%= form.hidden_field :longitude, value: @mapSettings['lng'], class: 'longitude_hidden' %>
    </div>
  </div>
</div>

<!-- Canvas for the map -->
<div class="form-group">
  <%= form.label 'map-canvas-wrapper', t('location.map'), class: label_class %>
  <div class='<%= col10 %>'>
    <span id="map_notification_exact" class="map_notification"><i><%= t('admin.location.map_notification_exact')%></i></span>
    <span id="map_notification_postal_code_only" class="map_notification"><i><%= t('admin.location.map_notification_postal_code')%></i></span>
    <div id="map"></div>
  </div>
</div>

<!-- Phone number -->
<div class="form-group">
  <%= form.label :phone_number, t('location.phone_number'), class: label_class %>
  <div class='<%= col3 %>'>
    <%= form.text_field :phone_number, class: 'form-control', maxlength:'15' %>
  </div>
</div>

<!-- Website -->
<div class="form-group">
  <%= form.label :website, t('location.website'), class: label_class %>
  <div class='<%= col4 %>'>
    <%= form.text_field :website, class: 'form-control', maxlength:'60' %>
  </div>
</div>

<!-- Description -->
<div class="form-group">
  <%= form.label :description, t('location.description'), class: label_class %>
  <div class='<%= col6 %>'>
    <%= form.text_area :description, class: 'help-message', cols: 40, rows: 6,
                       :data => {:content => t('location.description_help'),
                                 :placement => 'right', :toggle => 'popover', :trigger => 'hover focus'} %>
  </div>
</div>