<div class="<%= is_in_admin_panel ? 'navbar' : 'navbar-inverse' %> navbar-fixed-top navbar-default nav-margin-bottom" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <% if is_in_setup_mode %>
        <%= link_to "#{image_tag 'madloba_logo_50.png', class: 'madloba-img'} Madloba setup".html_safe, setup_path, :class => 'navbar-brand' %>
    <% elsif is_in_admin_panel %>
        <%= link_to "#{image_tag 'madloba_logo_green_40.png', class: 'madloba-img'} #{site_name}".html_safe, root_path, :class => 'navbar-brand' %>
    <% else %>
        <%= link_to "#{image_tag 'madloba_logo_50.png', class: 'madloba-img'} #{site_name}".html_safe, root_path, :class => 'navbar-brand' %>
    <% end %>
    <span class="navbar-arrow-up"><a href="#" id="navbar-up-link" style="display: none;"><i class="fa fa-chevron-up"></i></a></span>
  </div>

  <% if !is_in_setup_mode %>
      <div id="navbarCollapse" class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <!-- "About" link -->
          <% if current_page?(root_url) || current_page?('/search') %>
              <li><%= link_to t('home.about'), '#', id: 'about-nav-link' %></li>
          <% else %>
              <li><%= link_to t('home.about'), about_path, id: 'about-nav-link' %></li>
          <% end %>

          <!-- Sign in/Register/User drop down menu - start -->
          <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <%= current_user.first_name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% if is_in_admin_panel %>
                      <li><%= link_to t('home.page'), root_path %></li>
                  <% elsif current_user.user? %>
                      <li><%= link_to t('home.user_panel'), user_index_path %></li>
                  <% elsif current_user.admin? %>
                      <li><%= link_to t('home.admin_panel').capitalize, user_index_path %></li>
                  <% end %>
                  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
          <% else %>
              <li><a href="#" id="popover"><%= t('home.sign_register')%></a>
                <div id="popover-content" class="hide popover-larger">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
                      <%= t('home.e-mail') %>: <%= f.email_field :email, {} %><br />
                      <%= t('home.password') %>: <%= f.password_field :password, {} %><br />
                      <%= f.submit t('home.sign_in').capitalize, class: 'btn btn-primary btn-xs', style: 'margin-top: 5px' %><br /><br />
                      <%= t('home.not_have_account_yet_html', signup: "#{link_to t('home.sign_up'), new_registration_path(resource_name)}".html_safe ) %><br />
                      <% if is_demo %>
                        <br /><span style="font-size: 12px;"><i><%= t('home.demo_instructions_html', link: link_to(t('ad.here'), 'https://github.com/etiennebaque/madloba/wiki/Madloba-demo-instructions', target: '_blank') ) %></i></span>
                      <% end %>
                  <% end %>
                </div>
              </li>
          <% end %>
        </ul>
        <!-- Sign in/Register/User drop down menu - end -->

        <!-- Search form - start -->
        <form action="/search" method="get" role="search" class="navbar-form navbar-left" id="searchFormId">
          <div class="form-group">
            <%= select_tag :q, options_for_select([[t('home.searching'),'searching'], [t('home.giving'),'giving']], params['q']), class: 'form-control selectpicker' %>
          </div>
          <div class="form-group">
            <%= text_field_tag :item, params['item'], class:'typeahead form-control', placeholder: t('home.search_items'), autocomplete: 'off' %>
          </div>
          <div class="form-group">
            <%= text_field_tag :location,'', class:'form-control', placeholder: t('home.location_example') %>
          </div>
          <div class="form-group">
            <%= button_tag t('home.search'), :id => 'btn-form-search', :type => 'button',:class => 'btn btn-default' %>
          </div>
          <div class="form-group"><span style="color: #d9534f; margin-left: 5px;" id="search_error_message"></span></div>
        </form>
        <!-- Search form - end -->
      </div>
      <!-- /.nav-collapse -->
  <% else %>
      <!-- Setup pages - display the current step -->
      <span class="navbar-brand"><%= t('setup.step_html', current_step: @current_step) %></span>
  <% end %>

  <!-- /.container -->
</div>


<!-- Modal popup that appears with OpenStreetMap address suggestions -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><%= t('home.refine_location') %></h4>
      </div>
      <div class="modal-body" id="modal-body-id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('home.cancel') %></button>
      </div>
    </div>
  </div>
</div>