-# Left-hand side: Items
.show_post_paragraph
  %label
    = "#{@post.action}: "
  %span
    = @post.item_list

-# Left-hand side: Location
.show_post_paragraph
  %label= t('location.location')+':'
  %span= @post.location.full_address

-# Left-hand side: Phone number
- if @post.location.phone_number.present?
  .show_post_paragraph
    %label= t('location.phone_number')
    %span= @post.location.phone_number

-# Left-hand side: Website
- if @post.location.website.present?
  .show_post_paragraph
    %label= t('post.location_website')
    %span
      %a{:href => "#{@post.location.full_website_url}", :target => "_blank"}= @post.location.website

-# Location description
- if @post.location.description.present?
  .show_post_paragraph
    %label= t('post.location_description')
    %span= simple_format(@post.location.description)

-# Post description
.show_post_paragraph
  %label
    = t('post.description')
    \:
  %span= simple_format(@post.description)
