- results.each do |post|
  .result
    .post-title= link_to post.title, post
    .post-address
      %i.fa{class: post.location.area? ? Location::AREA_ADDRESS_ICON : Location::EXACT_ADDRESS_ICON}
      = post.location.full_address

    .post-items= "#{post.action} #{post.item_list}".html_safe
    .post-description= post.short_description