- currently_querying = @url_params[:item].present? && @post_results.present?
#search_result.sidebar.sidebar-right.collapsed.hide
  -# Nav tabs
  .sidebar-tabs
    %ul{role: 'tablist'}
      %li
        %a{href: '#results', role: 'tab', style: 'font-size: 20px'}
          %i.fa.fa-search#search_result_icon

  -# Tab panes
  .sidebar-content.search-content
    -# Search results
    #results.sidebar-pane.search-panes
      %h1.sidebar-header
        = 'Results'
        %span.sidebar-close
          %i.fa.fa-caret-right

      #result_list.list-group.results
        - if currently_querying
          - @post_results.each do |post|
            .result
              .post-title= link_to post.title, post
              .post-address
                %i.fa{class: post.location.area? ? Location::AREA_ADDRESS_ICON : Location::EXACT_ADDRESS_ICON}
                = post.location.full_address

              .post-items= "#{post.action} #{post.item_list}".html_safe
              .post-description= post.short_description
