- website_description = Setting.description
#sidebar.sidebar.collapsed
  / Nav tabs
  .sidebar-tabs
    %ul{:role => "tablist"}
      %li
        %a{:href => "#category", :role => "tab"}
          %i.fa.fa-bars
      %li
        %a{:href => "#contact", :role => "tab"}
          %i.fa.fa-envelope
      - if website_description.present?
        %li
          %a{:href => "#about", :role => "tab"}
            %i.fa.fa-question


  / Tab panes
  .sidebar-content
    #category.sidebar-pane
      %h1.sidebar-header
        = site_city
        %span.sidebar-close
          %i.fa.fa-caret-right

      .inner-section
        .list-group.create-ad
          %a.btn.btn-success.no-color{:href => "/ads/new"}
            %i.fa.fa-plus
            %span
              = t('home.create_new_ad')

        - if (@categories && @categories.select{|cat| cat.is_refinement(params)}.length > 0) || @location_search_refinement_to_display || user_search_action
          .list-group
            - if @location_search_refinement_to_display
              %h4= t('home.your_searched_location')
              %a.list-group-item.smaller-no-border-no-background{:href => "/"}
                %span= params[:loc]
                %i.glyphicon.glyphicon-remove.align-cross{:style => "float: right"}
            - if user_search_action
              / "You're searching for: / You're giving away:" refinement
              %h4= user_search_action
              %a.list-group-item.smaller-no-border-no-background{:href => "/"}
                %span= params[:item].capitalize
                %i.glyphicon.glyphicon-remove.align-cross{:style => "float: right"}

        / List of selected categories
        #refinements
          - if @categories.select{|cat| cat.is_refinement(params)}.length > 0
            %h4= t('home.refinements')
          - @categories.each do |category|
            - if category.is_refinement(params)
              %a.list-group-item.smaller-no-border-no-background.guided-nav-category{:href => "#{category.refinement_url(params)}"}
                %label{:style => "width: 15px;"}
                  %i{:class => "fa #{category.icon}", :style => "color: #{category.marker_color_hexacode};"}
                %span.guided-nav-label= category.name
                %i.glyphicon.glyphicon-remove.align-cross{:style => "float: right"}


        / Sidebar - list of Categories
        .list-group
          - if @categories.any?
            - if @categories.length > 1
              / No point in showing only one category
              #available_categories
                - @categories.each do |category|
                  - if !category.is_refinement(params)
                    %a.list-group-item.smaller-no-border-no-background.guided-nav-category{:href => "#", :id => "#{category.id}"}
                      %label{:style => "width: 15px;"}
                        %i{:class => "fa #{category.icon}", :style => "color: #{category.marker_color_hexacode};"}
                      %span.guided-nav-label= category.name
            - if (@locations_postal && @locations_postal.length > 0) || (@locations_district && @locations_district.length > 0)
              %hr/
              .checkbox
                %label
                  = check_box_tag 'show_area_id', 'ok', true
                  = t('home.show_ads_districts')
          - else
            .list-group
              .list-group-item.smaller-no-border-no-background
                %p= t('home.no_ad')
                %p= t('home.create_an_ad_now_html', create_new_ad: (link_to t('home.create_new_ad'), new_ad_url) )

        / Sidebar - note with some explanation, for demo only
        - if demo?
          %hr/
          .list-group
            %i= t('home.demo_sidebar_note_html', admin_panel: link_to(t('home.admin_panel'), '/user/managerecords#categories'))


    #contact.sidebar-pane
      %h1.sidebar-header
        Contact us
        %span.sidebar-close
          %i.fa.fa-caret-left

      .inner-section
        - contact_email = Setting.contact_email
        - social_medias = Setting.social_medias
        - if contact_email.present?
          .send-us-message
            %p= t('home.send_us_message')
            %p= link_to contact_email.value, "mailto:#{contact_email.value}"

        - if social_medias.any?
          .social_media
            %p
              - social_medias.each do |media|
                = link_to image_tag("#{media.key}.png", size: '40x40'), media.url, target: '_blank'

    - if website_description.present?
      #about.sidebar-pane
        %h1.sidebar-header
          About us
          %span.sidebar-close
            %i.fa.fa-caret-left

        .inner-section
          - website_description.each do |descr|
            %p= descr

          - if @links.any?
            %hr
            %p= 'More information:'
            %ul
              - @links.each do |link|
                - if link && link[:label] && link[:label] != ''
                  %li
                    %a{:href => "#{link[:url]}"}= link[:label]

