-# Sidebar
= render 'sidebar'

-# Search result sidebar
= render 'search_result_sidebar'


-# Map
#map.home.sidebar-map


-# Loading JS scripts
- content_for :scripts do

  -# Includes all the Javascript related to map rendering, to be loaded after page
  -# (Leaflet, MapQuest, and script that creates the actual map)
  = render 'shared/map_scripts', include_all_scripts: false

  -# Javascript function calls, related specifically to the home page
  :javascript
    // specific script to render map markers and initialize the sidebar.
    var locations_exact = #{raw @locations_exact.to_json}
    var areas = #{raw @areas.to_json};
    var params = #{raw @url_params.to_json};
    var marker_colors = #{raw MARKER_COLORS.to_json};

    var homePage = new Home(locations_exact, areas, params, marker_colors);
