-# Sidebar
= render 'sidebar'

-# Map
#map.home.sidebar-map


-# Modal popup that shows several ads promoting the same item, in a specific area/area
#adsModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#adsModalTitle.modal-title
      #ads-modal-body-id.modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('home.close')

-# This div is to check whether or not the user has AdBlock on in their browser.
-# If they do, it will affect the website's ability to work well.
#ad-block{:style => "position: absolute; opacity: 1; top: 0; left: 0;"} adblock

-# Template sample for marker popup
%div.hidden{style: 'overflow: auto;'}
  .col-xs-12.popup-title
  .col-xs-12.popup-image
  .col-xs-12.popup-button



-# Loading JS scripts
- content_for :scripts do

  -# Includes all the Javascript related to map rendering, to be loaded after page
  -# (Leaflet, MapQuest, and script that creates the actual map)
  = render 'shared/map_scripts_after_body', include_all_scripts: false


  -# Javascript function calls, related specifically to the home page
  :javascript
    // specific script to render map markers and initialize the sidebar.
    var locations_exact = #{raw @locations_exact.to_json}
    var locations_area = #{raw @locations_area.to_json(:include => :ads )};
    var area_geocodes = #{raw @area_geocodes.to_json};
    var marker_colors = #{raw MARKER_COLORS.to_json};

    var homePage = new Home(locations_exact, locations_area, area_geocodes, marker_colors);

    // Initialize the Web socket object
    #{render 'shared/initialize_websocket.js'}
