-# Sidebar
= render 'sidebar'


-# Map
#map.home.sidebar-map


-# Modal popup that shows several posts promoting the same item, in a specific area/area
#postsModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#postsModalTitle.modal-title
      #posts-modal-body-id.modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('home.close')


-# Loading JS scripts
- content_for :scripts do

  -# Includes all the Javascript related to map rendering, to be loaded after page
  -# (Leaflet, MapQuest, and script that creates the actual map)
  = render 'shared/map_scripts', include_all_scripts: false

  -# Javascript function calls, related specifically to the home page
  :javascript
    // specific script to render map markers and initialize the sidebar.
    var locations_exact = #{raw @locations_exact.to_json}
    var areas = #{raw @areas.to_json};
    var marker_colors = #{raw MARKER_COLORS.to_json};

    var homePage = new Home(locations_exact, areas, marker_colors);

    // Initialize the Web socket object
    #{render 'shared/initialize_websocket.js'}
