.container#results_page
  .col-xs-12.col-md-offset-2.col-md-8

    .summary
      = t('results.title', area: @area.name, num: @ads.count)

    %hr

    .results
      - @ads.each do |ad|
        .result
          .ad-title= link_to ad.title, ad
          .ad-address
            %i.fa{class: ad.location.area? ? Location::AREA_ADDRESS_ICON : Location::EXACT_ADDRESS_ICON}
            = ad.location.full_address

          .ad-items= "#{ad.action} #{colored_items_for(ad)}".html_safe
          .ad-description= short_description_for(ad.description)

    .madloba-pagination
      = will_paginate @ads, container: false
