.container#results_page
  .col-xs-12.col-md-offset-2.col-md-8

    .summary
      = t('results.title', district: @district.name, num: @ads.count)

    %hr

    .results
      - @ads.each do |ad|
        .result
          .ad-title
            = link_to ad.title, ad
          .ad-items= "#{ad.action} #{colored_items_for(ad)}".html_safe
          .ad-description= short_description_for(ad.description)

    .madloba-pagination
      = will_paginate @ads, container: false
