<div class="row">

  <%= render 'shared/admin_left_menu' %>

  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
      <ul class="breadcrumb">
        <li><a href="/user"><%= t('admin.dashboard') %></a></li>
        <% if @is_managing_user %>
            <li><a href="/user/manageusers/"><%= t('admin.profile.title_manage_users') %></a></li>
            <% if @is_adding %>
                <li><%= t('admin.profile.new_user') %></li>
            <% else %>
                <li><%= t('admin.profile.update_profile') %></li>
            <% end %>
        <% else %>
            <li><%= t('admin.profile.title') %></li>
        <% end %>
      </ul>
    </div>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <% if @is_managing_user %>
                <% if @is_adding %>
                    <h2><i class="glyphicon glyphicon-user"></i> <%= t('admin.profile.new_user') %></h2>
                <% else %>
                    <h2><i class="glyphicon glyphicon-user"></i> <%= t('admin.profile.update_profile') %></h2>
                <% end %>
            <% else %>
                <h2><i class="glyphicon glyphicon-user"></i> <%= t('admin.profile.title') %></h2>
            <% end %>
          </div>

          <% if @user && @user.errors.any? %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><%= t('admin.users.error_occurred', errors: pluralize(@user.errors.count, 'error')) %>:</strong>
                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <% if flash[:user] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <% if current_user.admin? %>
                    <%= t('admin.users.update_success', email: flash[:user]) %>
                    <a href="/user/manageusers"><%= t('admin.back_to_users') %></a>
                <% else %>
                    <%= t('admin.users.myprofile_update_success') %>
                <% end %>
              </div>
          <% end %>
          <% if flash[:new_user] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= t('admin.users.created_success', email: flash[:new_user]) %>
                <a href="/user/manageusers"><%= t('admin.back_to_users') %></a>
              </div>
          <% end %>

          <div class="box-content">
            <%= form_for [:user, @user], html: { role: 'form' } do |f| %>

                <% if current_user.admin? && !@is_adding && current_user != @user%>
                    <div class="form-group">
                      <% if is_demo %>
                          <!-- User deletion not allowed on demo -->
                          <%= link_to t('admin.users.delete_not_possible'), '#', class: 'btn btn-danger disabled' %>
                      <% else %>
                          <%= link_to t('admin.users.delete'), '#', class: 'btn btn-danger btn-delete-right btn-setting' %>
                      <% end %>
                    </div>
                <% end %>

                <% if @is_adding %>
                    <div class="form-group">
                      <%= t('registration.all_mandatory') %>
                    </div>
                <% end %>

                <!-- E-mail -->
                <div class="form-group">
                  <%= f.label :email, t('admin.profile.email')+':', class:'control-label' %>
                  <div class="form-inline">
                    <%= f.email_field :email, class: 'form-control', size: '40' %>
                  </div>
                </div>

                <!--'Make admin' checkbox -->
                <% if current_user.admin? && current_user != @user%>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :role, {}, 'admin', 'user' %>
                          <%= t('admin.profile.make_user_admin') %>
                        </label>
                      </div>
                    </div>
                <% end %>

                <!-- First name -->
                <div class="form-group">
                  <%= f.label :first_name, t('admin.profile.first_name')+':', class:'control-label' %>
                  <div class="form-inline">
                    <%= f.text_field :first_name, class: 'form-control' %>
                  </div>
                </div>

                <!-- Last name -->
                <div class="form-group">
                  <%= f.label :last_name, t('admin.profile.last_name')+':', class:'control-label' %>
                  <div class="form-inline">
                    <%= f.text_field :last_name, class: 'form-control' %>
                  </div>
                </div>

                <!-- Username -->
                <div class="form-group">
                  <%= f.label :username, t('admin.profile.username')+':', class:'control-label' %>
                  <div class="form-inline">
                    <%= f.text_field :username, class: 'form-control' %>
                  </div>
                </div>

                <!-- Current password -->
                <% if !@is_adding && !current_user.admin? %>
                    <div class="form-group">
                      <%= f.label :current_password, t('admin.profile.current_password')+':', class:'control-label' %>
                      <i><%= t('registration.need_current') %></i><br />
                      <div class="form-inline">
                        <%= f.password_field :current_password, class: 'form-control', autocomplete: 'off' %>
                      </div>
                    </div>
                <% end %>

                <hr />

                <!-- New password -->
                <div class="form-group">
                  <%= f.label :password, t('admin.profile.new_password')+':', class:'control-label' %>
                  <% if !@is_adding %>
                      <i><%= t('registration.leave_blank') %></i><br />
                  <% end %>
                  <div class="form-inline">
                    <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
                  </div>
                </div>

                <!-- Confirm password -->
                <div class="form-group">
                  <%= f.label :password_confirmation, t('admin.profile.confirm_password')+':', class: 'control-label' %>
                  <div class="form-inline">
                    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' %>
                  </div>
                </div>

                <% if is_demo && action_name == 'edit' %>
                    <!-- User creation and update is not allowed on Madloba demo website-->
                    <div class="form-actions">
                      <%= link_to t('admin.save_not_possible'), '#', class: 'btn btn-success disabled' %>
                      <%= link_to t('admin.cancel'), '/user/index', class: 'btn' %>
                    </div>
                <% else %>
                    <!-- Submit button and cancel link -->
                    <%= render 'shared/submit_section' %>
                <% end %>

            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- content ends -->
  </div><!--/#content.span10-->
</div><!--/row-->

<% if !@is_adding %>

  <!-- "Delete user" - modal window -->
  <%= render 'delete_modal_window' %>

<% end %>
