<div id="main" class="container-fluid clear-top">

  <div class="col-xs-8 col-xs-offset-2 error-vertical-align">
    <h1><%= t('errors.oops') %></h1>
    <h2><%= t('errors.not_found') %></h2>
    <div class="error-paragraph">
      <%= t('errors.404_sorry') %>
    </div>
    <div class="error-paragraph">
      <a href="/" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-home"></span> <%= t('home.home') %> </a> &nbsp;
      <a href="/about" class="btn btn-default btn-md"><span class="glyphicon glyphicon-envelope"></span> <%= t('home.contact_us') %> </a>
    </div>
  </div>

</div>

<div id="push"></div>
<!--  /.container -->