-# "Delete Area" modal window
- @area = Area.last # TODO
#delete_area_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3
          = t('admin.area_settings.delete_this_area')
      - if @area.locations.present?
        -# Before deletion of this area, we need to transfer linked locations to another area.
        = form_tag "/user/categories/#{@area.id}", method: :destroy do
          .modal-body
            %p= t('admin.area_settings.before_delete1')
            %p= t('admin.area_settings.before_delete2')
            - Area.all.each_with_index do |area, index|
              - if area.id != @area.id
                .radio
                  %label
                    = radio_button_tag 'target_area', @area.id, index == 0
                    = area.name
          .modal-footer
            %a.btn{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
            = submit_tag(t('admin.area_settings.transfer_and_delete'), class: 'btn btn-danger')
      - else
        -# No location tied to this area, just ask for confirmation.
        .modal-body
          %p= t('admin.area_settings.confirm_delete')
        .modal-footer
          %a.btn{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
          = link_to t('admin.category.delete_yes'), user_category_path(@category), method: :delete, class: 'btn btn-danger'
