<% content_for :head do %>

    <!-- Includes the main Leaflet CSS and JS files, as well as Mapbox files -->
    <%= render 'shared/map_scripts_before_body', include_all_scripts: false %>

    <style type="text/css">
        #map {
            width: 100%;
            height: 400px;
            margin: 0;
        }
    </style>

    <script>
        var districts = <%= raw @districts.to_json %>
    </script>


<% end %>

<div class="row">

  <%= render 'shared/admin_left_menu' %>

  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
      <ul class="breadcrumb">
        <li>
          <a href="/user"><%= t('admin.dashboard') %></a>
        </li>
        <li>
          <%= t('admin.area_settings.title') %>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2>
              <i class="glyphicon glyphicon-globe"></i> <%= t('admin.area_settings.title') %>
            </h2>
          </div>

          <!-- Success/Error flash messages -->
          <% if flash[:page_error] %>
              <div class="box-content alerts">
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <%=flash[:page_error]%>
                </div>
              </div>
          <% end %>
          <% if flash[:setting_success] %>
              <div class="box-content alerts">
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <%=flash[:setting_success]%>
                </div>
              </div>
          <% end %>


          <div class="box-content">
            <%= form_tag '/user/areasettings/update', method: :post, id: 'areaSettingFormId', role: 'form' do %>

                <!-- Choose between 'postal code' or 'district' type of area -->
                <div class="form-group">
                  <%= label 'area_type', t('admin.area_settings.define_area')+':', class: 'control-label' %>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag 'area_type[]', 'postal', (@area_types.include?'postal'), class: 'area_postal_code' %>
                      <%= t('admin.area_settings.by_postal_code') %>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag 'area_type[]', 'district', (@area_types.include?'district'), class: 'area_district' %>
                      <%= t('admin.area_settings.by_district') %>
                    </label>
                  </div>
                </div>

                <!-- "Postal code" area section - start -->
                <div id="postal_code_section" style="display: none;">

                  <hr />

                  <h4><%= t('admin.area_settings.area_postal_code') %></h4>

                  <!-- Postal code format and what to consider in it to define an area (for anonymous ads) -->
                  <div class="form-group">
                    <%= label_tag 'postal_code_length', t('admin.map_settings.postal_code_field1')+':', class:'control-label' %>
                    <div class="form-inline">
                      <%= number_field_tag 'postal_code_length', @map_settings['postal_code_length'], class: 'form-control', min: 1 %>
                      <i><%= t('admin.map_settings.postal_code_help1') %></i>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= label_tag 'area_length', t('admin.map_settings.postal_code_field2')+':', class:'control-label' %>
                    <div class="form-inline">
                      <%= number_field_tag 'area_length', @map_settings['area_length'], class: 'form-control', min: 1 %>
                      <i><%= t('admin.map_settings.postal_code_help2') %></i>
                    </div>
                  </div>
                </div>
                <!-- "Postal code" area section - end -->

                <!-- "District" area section - start -->
                <div id="district_section" style="display: none;">

                  <hr />

                  <h4><%= t('admin.area_settings.area_district') %></h4>

                  <!-- Map canvas -->
                  <div class="form-group">
                    <%= label_tag 'map-canvas-wrapper', t('admin.area_settings.map_description'), class:'control-label' %>
                    <div class="form-inline">
                      <div id="map-canvas-wrapper">
                        <div id="map"></div>
                      </div>
                    </div>
                    <div id="district_notification_message"></div>
                  </div>

                </div>
                <!-- "District" area section - end -->

                <hr />

                <!-- Submit button -->
                <div class="form-actions">
                  <%= submit_tag(t('admin.save'), class: 'btn btn-success') %>
                  <a href="/user/index" class="btn"><%= t('home.cancel') %></a>
                </div>

            <% end %>

          </div>
        </div>
      </div>
      <!--/span-->

    </div>

    <!-- content ends -->
  </div>
  <!--/#content.span10-->

</div><!--/fluid-row-->

<hr>

<% content_for :scripts do %>

    <!-- Inserting the Leaflet Draw plugin, in order to draw polygon to define districts -->
    <%= render 'shared/included_leafletdraw_scripts' %>

    <!-- Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that creates the actual map -->
    <%= render 'shared/map_scripts_after_body', include_all_scripts: false %>
<% end %>
