<div class="row">

  <%= render 'shared/admin_left_menu' %>

  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
      <ul class="breadcrumb">
        <li><a href="/user"><%= t('admin.dashboard') %></a></li>
        <li><%= t('admin.profile.title') %></li>
      </ul>
    </div>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> <%= t('admin.profile.title') %></h2>
          </div>
          <div class="box-content">
            <%= form_for [:user, @user], html: { id: 'userForm', role: 'form' } do |f| %>

                <!-- E-mail -->
                <div class="form-group">
                  <%= f.label :email, t('home.e-mail')+':', class:'control-label' %>
                  <div class="form-inline">
                    <%= f.email_field :email, class: 'form-control' %>
                  </div>
                </div>

                <!-- First name -->
                <div class="form-group">
                  <%= f.label :first_name, t('admin.profile.first_name')+':', class:'control-label' %>
                  <div class="form-inline">
                    <%= f.text_field :first_name, class: 'form-control' %>
                  </div>
                </div>

                <!-- Last name -->
                <div class="form-group">
                  <%= f.label :last_name, t('admin.profile.last_name')+':', class:'control-label' %>
                  <div class="form-inline">
                    <%= f.text_field :last_name, class: 'form-control' %>
                  </div>
                </div>

                <!-- Username -->
                <div class="form-group">
                  <%= f.label :username, t('admin.profile.username')+':', class:'control-label' %>
                  <div class="form-inline">
                    <%= f.text_field :username, class: 'form-control' %>
                  </div>
                </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- content ends -->
  </div><!--/#content.span10-->
</div><!--/row-->
