<% content_for :head do %>

    <!-- Includes the main Leaflet CSS and JS files, as well as Mapbox files -->
    <%= render 'shared/map_scripts_before_body', include_all_scripts: true %>
    <!-- CSS file used on admin pages -->
    <%= stylesheet_link_tag 'admin' %>

    <style type="text/css">
        #map {
            width: 100%;
            height: 350px;
            margin: 0;
        }
    </style>

<% end %>

<div class="row">

  <%= render 'shared/admin_left_menu' %>

  <div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
      <ul class="breadcrumb">
        <li>
          <a href="/user"><%= t('admin.dashboard') %></a>
        </li>
        <li>
          <%= t('admin.map_settings.title') %>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-header well" data-original-title="">
            <h2>
              <i class="glyphicon glyphicon-map-marker"></i> <%= t('admin.map_settings.title') %>
            </h2>
          </div>

          <!-- Success/Error flash messages -->
          <% if flash[:page_error] %>
              <div class="box-content alerts">
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <%=flash[:page_error]%>
                </div>
              </div>
          <% end %>
          <% if flash[:setting_success] %>
              <div class="box-content alerts">
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <%=flash[:setting_success]%>
                </div>
              </div>
          <% end %>
          <% if is_demo %>
              <div class="box-content alerts">
                <div class="alert alert-info">
                  <%= t('admin.map_settings.demo_message') %>
                </div>
              </div>
          <% end %>

          <div class="box-content">
            <%= form_tag '/user/mapsettings/update', html: { id: 'mapSettingFormId', role: 'form' } do %>

                <!-- Choose Map drop down box -->
                <div class="form-group">
                  <%= label_tag 'maptype', t('admin.map_settings.type'), class:'control-label' %>
                  <div class="form-inline">
                    <%= select_tag 'maptype', options_for_select(@options_for_maptype_select, @mapSettings['chosen_map']), class: 'form-control' %>
                  </div>
                </div>

                <hr />

                <h4><%= t('admin.map_settings.map_api_keys') %></h4>

                <div class="form-group">
                  <i><%= t('admin.map_settings.key_first') %></i>
                </div>

                <!-- MapBox API key-->
                <div class="form-group">
                  <%= label_tag 'mapBoxApiKey', t('admin.map_settings.mapbox'), class:'control-label' %>
                  <div class="form-inline">
                    <%= text_field_tag 'mapBoxApiKey', @mapSettings['map_box_api_key'], class: 'form-control' %>
                    <a href="https://www.mapbox.com/account/" target="_blank"><%= t('admin.map_settings.mapbox_link') %></a>
                  </div>
                </div>

                <!-- Map Quest API key-->
                <div class="form-group">
                  <%= label_tag 'mapQuestApiKey', t('admin.map_settings.mapquest'), class:'control-label' %>
                  <div class="form-inline">
                    <%= text_field_tag 'mapQuestApiKey', @mapSettings['mapquest_api_key'], class: 'form-control' %>
                    <a href="http://developer.mapquest.com/web/info/account/app-keys" target="_blank"><%= t('admin.map_settings.mapquest_link') %></a>
                  </div>
                </div>

                <hr />

                <h4><%= t('admin.map_settings.location_info') %></h4>

                <%= hidden_field_tag 'hiddenLatId', @mapSettings['lat'], class: 'latitude_hidden' %>
                <%= hidden_field_tag 'hiddenLngId', @mapSettings['lng'], class: 'longitude_hidden' %>

                <!-- City, State/Province and Country fields -->
                <div class="form-group">
                  <%= label_tag 'cityCountry', t('admin.map_settings.find_city_map'), class:'control-label' %>
                  <div class="form-inline">
                    <%= text_field_tag 'city', @mapSettings['city'], class: 'form-control location_city', placeholder: t('admin.map_settings.city'), :required => true %>
                    <%= text_field_tag 'state', @mapSettings['state'], class: 'form-control location_state', placeholder: t('admin.map_settings.state') %>
                    <%= text_field_tag 'country', @mapSettings['country'], class: 'form-control location_country', placeholder: t('admin.map_settings.country'), :required => true %>
                    <a href="#" id="findGeocodeAddressMapBtnId" class="btn btn-info" style="vertical-align: top"><%= t('admin.map_settings.find_city') %></a>
                    <span id="findGeocodeLoaderId"></span>
                  </div>
                </div>

                <!-- Zoom level -->
                <%= hidden_field_tag 'zoom_level', @mapSettings['zoom_level'] %>

                <div class="form-group">
                  <%= label_tag 'map-canvas-wrapper', t('admin.map_settings.map_description'), class:'control-label' %>
                  <%= label_tag 'map-canvas-wrapper-zoom', t('admin.map_settings.map_description_zoom'), class:'control-label'%>
                  <div class="form-inline">
                    <div id="map-canvas-wrapper">
                      <div id="map"></div>
                    </div>
                  </div>
                </div>

                <!-- Submit button and cancel link -->
                <%= render 'shared/submit_section' %>

            <% end %>

          </div>
        </div>
      </div>
      <!--/span-->

    </div>

    <!-- content ends -->
  </div>
  <!--/#content.span10-->

</div><!--/fluid-row-->

<% content_for :scripts do %>
    <script>
        // The initialization of this variable allows the JS events to be tied to the map of this page.
        var districts_geocodes = {};
    </script>
    <!-- Admin screen related scripts -->
    <%= javascript_include_tag 'admin' %>
    <!-- Includes all the Javascript related to map rendering (Leaflet, MapQuest, and initialize_map partial that create the actual map -->
    <%= render 'shared/map_scripts_after_body', include_all_scripts: true %>
<% end %>