- content_for :head do
  / Includes the main Leaflet CSS and JS files, as well as Mapbox files
  = render 'shared/map_scripts_before_body', include_all_scripts: true
  :css
    #map {
        width: 100%;
        height: 350px;
        margin: 0;
    }
.row
  #content.middle-col.col-xs-12.col-md-10
    / content starts
    .row
      .box.col-md-12
        .box-inner
          .box-header.well{"data-original-title" => ""}
            %h2
              %i.glyphicon.glyphicon-map-marker
              = t('admin.map_settings.title')
          / Success/Error flash messages
          - if flash[:page_error]
            .box-content.alerts
              .alert.alert-danger
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = flash[:page_error]
          - if flash[:setting_success]
            .box-content.alerts
              .alert.alert-success
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = flash[:setting_success]
          - if demo?
            .box-content.alerts
              .alert.alert-info
                = t('admin.map_settings.demo_message')
          .box-content.form-inputs
            = simple_form_for @form, url: '/user/mapsettings/update', html: {class: 'form-horizontal'},
                wrapper: :horizontal_form do |f|

              = f.input :chosen_map, label: t('admin.map_settings.type'), collection: @form.options_for_maptype_select, include_blank: false

              %hr
              %h4= t('admin.map_settings.map_api_keys')

              %i= t('admin.map_settings.key_first')

              = f.input :mapbox_api_key, class: 'form-control', label: t('admin.map_settings.mapbox'), value: demo? ? '********' : f.object.mapbox_api_key
              %a{:href => "https://www.mapbox.com/account/apps", :target => "_blank"}= t('admin.map_settings.mapbox_link')

              = f.input :mapquest_api_key, label: t('admin.map_settings.mapquest'), value: demo? ? '********' : f.object.mapquest_api_key
              %a{:href => "http://developer.mapquest.com/web/info/account/app-keys", :target => "_blank"}= t('admin.map_settings.mapquest_link')

              %hr
              %h4= t('admin.map_settings.location_info')

              = f.hidden_field :latitude
              = f.hidden_field :longitude


              .form-inline
                = f.label t('admin.map_settings.find_city_map'), class: 'col-sm-3 control-label'
                = f.input :city, label: false, placeholder: 'City'
                = f.input :state, label: false, placeholder: 'State'
                = f.input :country, label: false, placeholder: 'Country'

              = f.hidden_field :zoom_level

              = f.label t('admin.map_settings.map_description')
              = f.label t('admin.map_settings.map_description_zoom')

              .form-inline
                #map-canvas-wrapper
                  #map

              = render 'shared/submit_section'

      / /span
    / content ends
  / /#content.span10
/ /fluid-row

/ Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that creates the actual map
= render 'shared/map_scripts_after_body', include_all_scripts: true
:javascript

  "Let's use an Ajax call to get map data!!!!" ----

  // Giving this page the possibility to find geocodes.
  find_geocodes();


