- page ||= 'new'
- obj ||= @post
= form_for obj, html: { id: 'post_form', class: 'form-horizontal', role: 'form', multipart: true } do |f|
  - note_about_expiration_date = page == 'new' ? expire_date_for_new_post: expire_date_for(@post)
  %fieldset

    - if page == 'edit'
      -# Edit page: "Delete Post" and "See published ad" buttons
      .form-group
        .col-lg-6
          %a.btn.btn-danger.btn-delete-right.btn-setting{:href => "#", :style => "margin-right: 10px;"}= t('admin.post.delete')
          = link_to t('post.see_published'), post_path(@post.id), {target: '_blank', class: 'btn btn-info'}
      %hr

    - if page == 'new'
      %h3= t('post.new_post')

    .form-group
      .col-lg-6.col-lg-offset-2
        %i= note_about_expiration_date

    -# Post title
    .form-group
      = f.label :title, t('post.title'), class: 'col-lg-2 control-label'
      .col-lg-6
        = f.text_field :title, class: 'form-control help-message', autofocus: true,
                :data => {:content => t('post.title_help'), :placement => 'top',
                :toggle => 'popover', :trigger => 'hover focus'}

    -# Name to use (it user is not anonymous)
    - if user_signed_in?
      .form-group
        = f.label :username_used, t('location.name_to_use'), class: 'col-lg-2 control-label'
        .col-lg-6
          .radio
            %label
              = f.radio_button :username_used, true, checked: true
              = t('location.name_username')
              (#{current_user.username})
          .radio
            %label
              = f.radio_button :username_used, false
              = t('location.name_fullname')
              (#{current_user.first_name} #{current_user.last_name})

    -# Category
    .form-group
      = f.label :category_id, t('post.category'), class: 'col-lg-2 control-label'
      .col-lg-3
        - category_data = Category.all.map{|c| [c.name, c.id, { 'data-color' => c.color_code, 'data-icon' => c.icon }]}
        = f.select :category_id, options_for_select(category_data, f.object.category_id), {include_blank: t('location.category_blank')}, {class: 'form-control'}

    -# Giving / Accepting items
    .form-group
      = f.label :giving, t('location.post_action'), class: 'col-lg-2 control-label'
      .col-lg-6
        .radio
          %label
            = f.radio_button :giving, true, checked: true
            = t('location.post_action_giving')
        .radio
          %label
            = f.radio_button :giving, false
            = t('location.post_action_accepting')

    -# Items
    .form-group
      = f.label :item_ids, t('post.items'), class: 'col-lg-2 control-label'
      .col-lg-6.field-for-items
        = f.text_field :item_ids, {data: {role: 'tagsinput'}}

    -# Post description
    .form-group
      = f.label :description, t('post.description')+'*:', class: 'col-lg-2 control-label'
      .col-lg-6
        = f.text_area :description, class: 'form-control help-message', rows: 6

    -# Image upload - only possible when app deployed on server, for now
    - if can_upload_image
      .form-group
        = f.label :description, t('post.upload_image'), class: 'col-lg-2 control-label'
        .col-lg-6
          = f.file_field :image, class: 'form-control', style: 'border: 0px; height: auto;'
          = f.hidden_field :image_cache
          %span#message= t('post.less_than_limit')
      .form-group
        .col-lg-2
        .col-lg-10
          #image-section
          - if @post.image?
            - if is_image_available(@post)
              = image_tag @post.image_url(:normal).to_s
              .checkbox
                %label
                  = f.check_box :remove_image
                  = t('post.remove_image')
            - elsif @post.image && (@post.errors[:image].nil? || (@post.errors[:image] && @post.errors[:image].length == 0))
              .post-processing
                = t('post.image_selected')

    -# Post location section
    - if current_user.present? && current_user.locations.any?
      -# List of all the different locations previously entered by the current user
      #locations_from_list
        .form-group
          = f.label :location_id, t('location.location')+'*:', class: 'col-lg-2 control-label'
          .col-lg-6
            - current_user.locations.each_with_index do |loc, index|
              .radio.existing_location
                %label
                  - if index == 0
                    = f.radio_button :location_id, loc.id, checked: true
                    = loc.full_address
                  - else
                    = f.radio_button :location_id, loc.id
                    = loc.full_address

        .form-group
          .col-lg-6.col-lg-offset-2
            %a.btn.btn-sm.btn-info.add-new-location
              = t('post.new_location')

    -# Location form partial
    .location-form-for-post
      = f.fields_for :location, Location.new, html: {class: 'form-horizontal'} do |loc|
        = render 'shared/location_form', form: loc, location: @post.location

    -# if anonymous user creates an ad, we need to ask for their name and email
    -# They need to provide a response to a captcha
    - if !user_signed_in?
      %h4= t('post.about_you')
      -# Anonymous user's name
      .form-group
        = f.label :anon_name, t('post.name'), class: 'col-lg-2 control-label'
        .col-lg-6
          = f.text_field :anon_name, class: 'form-control help-message',
                  :data => {:content => t('post.name_help'), :placement => 'top',
                  :toggle => 'popover', :trigger => 'hover focus'}
      -# Anonymous user's email
      .form-group
        = f.label :anon_email, t('post.your_email')+'*:', class: 'col-lg-2 control-label'
        .col-lg-6
          = f.email_field :anon_email, class: 'form-control help-message', autofocus: true,
                  :data => {:content => t('post.email_help'), :placement => 'top',
                  :toggle => 'popover', :trigger => 'hover focus'}
      -# Captcha for anonymous user
      .form-group
        = f.label :anon_captcha, t('post.captcha'), class: 'col-lg-2 control-label'
        .col-lg-6
          = f.show_simple_captcha
      %hr/

    -# Submit section
    .form-group{style: 'margin-top: 35px'}
      .col-lg-10.col-lg-offset-2
        = f.submit t("post.submit_post_#{page}"), id: 'submit_new_post', class: 'btn btn-success'
        %a.btn{:href => "/"}= t('home.cancel')

    -# After submit, a notification shows up here, if a new image is being uploaded
    .form-group
      .col-lg-10.col-lg-offset-2
        %span#upload-in-progress