.container
  .row
    #content.middle-col.col-xs-12.col-md-10
      / content starts
      %div
        %ul.breadcrumb
          - if current_user.admin?
            %li
              %a{:href => "/user/managerecords"}= t('admin.manage_records')
          - else
            %li
              %a{:href => "/user/manageposts"}= t('admin.post.manage_posts')
          %li= t('admin.update_post')
      .row
        .box.col-md-12
          .box-inner
            .box-header.well{"data-original-title" => ""}
              %h2
                %i.glyphicon.glyphicon-edit
                = t('admin.post.post_edit')
            - if flash[:post_updated]
              .alert.alert-success
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                = t('admin.post.post_updated', title: flash[:post_updated])
                - if current_user.admin?
                  %a{:href => "/user/managerecords#posts"}= t('admin.back_to_records')
                - else
                  %a{:href => "/user/manageposts"}= t('admin.back_to_posts')
            - if flash[:error_post] || flash[:error_delete_post]
              .alert.alert-danger
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                - if @post && @post.errors.any?
                  %strong
                    = t('admin.post.error_update', errors: pluralize(@post.errors.count, t('home.error.one'), t('home.error.more')))
                    \:
                  %ul
                    - @post.errors.full_messages.each do |msg|
                      %li= msg
                - else
                  - if flash[:error_delete_post]
                    = t('admin.post.delete_post_error_html', manage_posts_page: link_to(t('admin.post.manage_posts_page'), '/user/manageposts'))

            .box-content
              = render 'user/posts/form', page: 'edit', obj: [:user, @post]


/ "Delete ad" - modal window
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3= t('admin.post.delete_post')
      .modal-body
        %p= t('admin.post.delete_post_permanently')
      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
        = link_to t('admin.post.delete_this_post'), user_post_path(@post), method: :delete, class: 'btn btn-danger'

/ "Location not found" - modal window
#myErrorModal.modal.hide.fade
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= t('location.not_found')
  .modal-body
    %p= t('location.not_found_descr1')
    %p= t('location.not_found_descr2')
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} OK
- content_for :scripts do
  / Includes all the Javascript related to map rendering (Leaflet, MapQuest, and script that creates the actual map
  = render 'shared/map_scripts', include_all_scripts: false

  :javascript
    adForm = new PostForm();
