<div class="container">

  <div class="row">
    <div class="col-lg-12">

      <%= devise_error_messages! %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
          <fieldset>

            <div class="setup-padding">
              <h3><%= t('setup.creation_admin') %></h3>
            </div>

            <div class="col-lg-10">

              <!-- 'Mandatory *' note -->
              <div class="form-group">
                <div class="col-lg-6">
                  <span><%= t('registration.all_mandatory') %></span>
                </div>
              </div>

              <!-- E-mail -->
              <div class="form-group">
                <%= f.label :email, t('home.e-mail'), class:'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <%= f.email_field :email, class: 'form-control', required: true %>
                </div>
              </div>

              <!-- First name -->
              <div class="form-group">
                <%= f.label :first_name, t('admin.profile.first_name'), class:'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <%= f.text_field :first_name, class: 'form-control', required: true %>
                </div>
              </div>

              <!-- Last name -->
              <div class="form-group">
                <%= f.label :last_name, t('admin.profile.last_name'), class:'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <%= f.text_field :last_name, class: 'form-control', required: true %>
                </div>
              </div>

              <!-- Username -->
              <div class="form-group">
                <%= f.label :username, t('admin.profile.username'), class:'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <%= f.text_field :username, class: 'form-control', required: true %>
                </div>
              </div>

              <!-- New password -->
              <div class="form-group">
                <%= f.label :password, t('admin.profile.new_password'), class:'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <%= f.password_field :password, class: 'form-control', autocomplete: 'off', required: true, minlength: 8 %>
                </div>
              </div>

              <!-- Confirm password -->
              <div class="form-group">
                <%= f.label :password_confirmation, t('admin.profile.confirm_password'), class: 'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', required: true, minlength: 8 %>
                </div>
              </div>

              <hr class="col-lg-8" />

              <!-- Note about GMail SMTP settings -->
              <div class="form-group">
                <div class="col-lg-8">
                  <a href="#" id="gmail_modal_link"><%= t('setup.note_for_gmail') %></a>
                </div>
              </div>


              <!-- Note about email being sent to new admin user -->
              <div class="form-group setup-padding">
                <div class="col-lg-8">
                  <p><%= t('setup.confirm_email') %></p>
                  <p><%= t('setup.check_email') %></p>
                </div>
              </div>

              <!-- Role admin for this first user -->
              <%= f.hidden_field :role, value: 'admin' %>

              <!-- Next button / Back link -->
              <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-6 pull-right">
                  <% if is_on_heroku %>
                      <a href="/setup/map" class="btn btn-link"><%= t('setup.back') %></a>
                  <% else %>
                      <a href="/setup/image" class="btn btn-link"><%= t('setup.back') %></a>
                  <% end %>
                  <%= submit_tag(t('setup.next'), class: 'btn btn-success') %>
                </div>
              </div>

            </div>

          </fieldset>
      <% end %>
    </div>

  </div>

</div>

<!-- Modal popup that appears with OpenStreetMap address suggestions -->
<div class="modal fade" id="gmail_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">SMTP settings - GMail</h4>
      </div>
      <div class="modal-body" id="modal-body-id">
        <p><%= t('setup.gmail_note') %></p>
        <ol>
          <li><%= t('setup.gmail_note2') %></li>
          <li><%= t('setup.gmail_note3_html', here: link_to(t('setup.gmail_link_here'), 'https://accounts.google.com/DisplayUnlockCaptcha', {target: '_blank'})) %></li>
        </ol>

        <p><%= t('setup.gmail_note4') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('home.got_it') %></button>
      </div>
    </div>
  </div>
</div>

<div id="push"></div>
