.container
  .row
    .col-lg-12
      %fieldset
        .setup-padding
          %h3= t('setup.all_done')
        .col-lg-6
          .setup-padding
            %p= t('setup.setup_successfully')
          .setup-padding
            %p
              = t('setup.add_config')
              %br/
              = t('setup.check_config')
          .setup-padding
            %p= t('setup.enjoy')
          .form-actions
            %a.btn.btn-success{:href => "/"}= t('setup.go_to_website')
