<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <fieldset>
        <div class="setup-padding">
          <h3><%= t('setup.all_done') %></h3>
        </div>

        <div class="col-lg-6">

          <div class="setup-padding">
            <p><%= t('setup.setup_successfully') %></p>
          </div>

          <div class="setup-padding">
            <p><%= t('setup.add_config') %><br>
              <%= t('setup.check_config') %></p>
          </div>

          <div class="setup-padding">
            <p><%= t('setup.enjoy') %></p>
          </div>

          <div class="form-actions">
            <a href="/" class="btn btn-success"><%= t('setup.go_to_website') %></a>
          </div>

        </div>

      </fieldset>
    </div>

  </div>

</div>

<div id="push"></div>