<div class="container">

  <div class="row">
    <div class="col-lg-12">


      <%= form_tag '/setup/general/process', { class: 'form-horizontal' } do %>
          <fieldset>

            <div class="setup-padding">
              <h3><%= t('setup.general_info') %></h3>
            </div>

            <div class="col-lg-10">

              <!-- 'Mandatory *' note -->
              <div class="form-group">
                <div class="col-lg-6">
                  <span><%= t('admin.mandatory') %></span>
                </div>
              </div>

              <!-- Website name -->
              <div class="form-group">
                <%= label_tag 'app_name', "#{t('admin.general_settings.name')}(*)", class: 'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <%= text_field_tag 'app_name',@settings['app_name'], class: 'form-control help-message',
                                     autofocus: true, placeholder: t('setup.name_description') %>
                </div>
              </div>

              <!-- Website description -->
              <div class="form-group">
                <%= label_tag 'description', t('admin.general_settings.description'), class: 'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <%= text_area_tag 'description', @settings['description'], class: 'form-control', size: '35x8', placeholder: t('setup.description_description') %>
                </div>
              </div>


              <!-- Next button / Back link -->
              <div class="form-group">
                <div class="col-lg-8">
                  <%= submit_tag(t('setup.next'), class: 'btn btn-success pull-right') %>
                  <a href="/setup/" class="btn btn-link pull-right"><%= t('setup.back') %></a>
                </div>
              </div>

            </div>

          </fieldset>
      <% end %>
    </div>

  </div>

</div>

<div id="push"></div>