<div class="container">

  <div class="row">
    <div class="col-lg-12">


      <%= form_tag '/setup/image/process', { class: 'form-horizontal' } do %>
          <fieldset>

            <div class="setup-padding">
              <h3><%= t('setup.image_storage') %></h3>
            </div>

            <div class="col-lg-10">

              <div class="form-group">
                <div class="col-lg-8">
                  <p><%= t('setup.image_description') %><br>
                    <% if is_on_heroku %>
                        <%= t('setup.image_s3_only_html', s3_link: link_to('Amazon S3', 'http://aws.amazon.com/s3/', target: '_blank')) %>.
                    <% else %>
                        <%= t('setup.image_server_or_s3_html', link: link_to('Amazon S3', 'http://aws.amazon.com/s3/', target: '_blank')) %>.
                    <% end %>
                    <%= t('setup.image_no_storage') %></p>

                  <p><%= t('setup.image_select_option') %></p>
                </div>
              </div>

              <!-- Storage choices -->
              <div class="form-group">
                <%= label_tag 'image_storage', t('setup.image_strategy'), class: 'col-lg-2 control-label' %>
                <div class="col-lg-6">
                  <% @storage_choices.each_with_index do |choice, index| %>
                      <div class="radio">
                        <label>
                          <%= radio_button_tag 'storage_choice', choice[0], (index == 0 || @current_image_choice == choice[0]) %><%= choice[1] %>
                        </label>
                      </div>
                  <% end %>
                </div>
              </div>

              <hr class="col-lg-8" />

              <div class="form-group">
                <div class="col-lg-8">
                  <%= t('setup.amazon_s3_warning_html', link: link_to(t('setup.install_guide'), 'https://github.com/etiennebaque/madloba/wiki/Madloba-installation-guide', target: '_blank')) %>
                </div>
              </div>

              <!-- Next button / Back link -->
              <div class="form-group">
                <div class="col-lg-2"></div>
                <div class="col-lg-6 pull-right">
                  <a href="/setup/map" class="btn btn-link"><%= t('setup.back') %></a>
                  <%= submit_tag(t('setup.next'), class: 'btn btn-success') %>
                </div>
              </div>

            </div>

          </fieldset>
      <% end %>
    </div>

  </div>

</div>

<div id="push"></div>
