<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <fieldset>
        <div class="setup-padding">
          <h3><%= t('setup.welcome_madloba') %></h3>
        </div>

        <div class="col-lg-6">

          <div class="setup-padding">
            <p><%= t('setup.about_to_setup') %><br>
              <%= t('setup.process_takes') %></p>
          </div>

          <div class="setup-padding">
            <p><%= t('setup.click_next') %><br>
            <%= t('setup.back_language_html', here: (link_to t('ad.here'), setup_language_path)) %></p>
          </div>

          <div class="setup-padding">
            <a href="/setup/general" class="btn btn-success pull-right"><%= t('setup.next') %></a>
          </div>

        </div>

      </fieldset>
    </div>

  </div>

</div>

<div id="push"></div>