%p
  = t('session.hello')
  = @resource.first_name
  \!
%p= t('session.someone_requested')
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p= t('session.please_ignore')
%p= t('session.password_not_changing')
