<!-- "Delete category" modal window -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= t('admin.category.delete_category') %>?</h3>
      </div>

      <% if Category.all.length == 1 %>
          <!-- We can't delete this category if it is the only existing one. -->
          <div class="modal-body">
            <p><%= t('admin.category.cannot_delete') %></p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal"><%= t('admin.cancel') %></a>
          </div>
      <% elsif @category.items && @category.items.length > 0 %>
          <!-- Before deletion of this category, we need to transfer linked items to another category -->
          <%= form_tag "/user/categories/#{@category.id}", method: :destroy do %>
              <div class="modal-body">
                <p><%= t('admin.category.before_you_delete1') %></p>
                <p><%= t('admin.category.before_you_delete2') %></p>
                <% Category.all.each_with_index do |category, index| %>
                    <% if category.id != @category.id %>
                        <div class="radio">
                          <label>
                            <%= radio_button_tag 'target_category', category.id, index == 0 %> <%= category.name %>
                          </label>
                        </div>
                    <% end %>
                <% end %>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal"><%= t('admin.cancel') %></a>
                <%= submit_tag(t('admin.category.transfer_and_delete'), class: 'btn btn-danger') %>
              </div>
          <% end %>
      <% else %>
          <!-- No item tied to this category, just ask for confirmation. -->
          <div class="modal-body">
            <p><%= t('admin.category.delete_confirm') %></p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal"><%= t('admin.cancel') %></a>
            <%= link_to t('admin.category.delete_yes'), user_category_path(@category), method: :delete, class: 'btn btn-danger' %>
          </div>
      <% end %>

    </div>

  </div>
</div>
