/ "Delete category" modal window
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3
          = t('admin.category.delete_category')
          ?
      - if Category.all.length == 1
        -# We can't delete this category if it is the only existing one.
        .modal-body
          %p= t('admin.category.cannot_delete')
        .modal-footer
          %a.btn{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
      - elsif @category.posts.present?
        -# Before deletion of this category, we need to transfer linked items to another category
        = form_tag "/user/categories/#{@category.id}", method: :destroy do
          .modal-body
            %p= t('admin.category.before_you_delete1')
            %p= t('admin.category.before_you_delete2')
            - Category.all.each_with_index do |category, index|
              - if category.id != @category.id
                .radio
                  %label
                    = radio_button_tag 'target_category', category.id, index == 0
                    = category.name
          .modal-footer
            %a.btn{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
            = submit_tag(t('admin.category.transfer_and_delete'), class: 'btn btn-danger')
      - else
        / No post tied to this category, just ask for confirmation.
        .modal-body
          %p= t('admin.category.delete_confirm')
        .modal-footer
          %a.btn{"data-dismiss" => "modal", :href => "#"}= t('home.cancel')
          = link_to t('admin.category.delete_yes'), user_category_path(@category), method: :delete, class: 'btn btn-danger'
