<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

  <div class="navbar-inner">

    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="col-lg-2">
        <a class="navbar-brand" href="/user">
          <span><%= site_name %></span>
        </a>
    </div>

    <!-- user dropdown starts -->
    <div class="btn-group pull-right">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> <%= current_user.first_name %></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to t('admin.log_out'), destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
    <!-- user dropdown end -->

    <ul class="collapse navbar-collapse nav navbar-nav top-menu">
      <li><a href="/"><i class="glyphicon glyphicon-map-marker"> </i> <%= t('home.page') %></a></li>
    </ul>

  </div>
</div>
<!-- topbar ends -->

<% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
<% end %>
<% if alert or flash[:error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% else %>
        <%= alert %>
      <% end %>
    </div>
<% end %>