<div class="container devise-section">

  <div class="row">

    <div class="col-lg-6">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => 'form-horizontal' }) do |f| %>
          <fieldset>
            <legend><%= t('session.forgot') %></legend>

            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email, class: 'col-lg-2 control-label' %>
              <div class="col-lg-10">
                <%= f.email_field :email, class: 'form-control', autofocus: true %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <%= f.submit t('session.reset_password'), class: 'btn btn-primary' %>
              </div>
            </div>

          </fieldset>
      <% end %>

    </div>
  </div>

  <%= render 'shared/links' %>

</div>

<div id="push"></div>

<!--  /.container -->
