<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= site_name %> - admin panel</title>

  <%= render 'shared/charismaIncludedCss' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag 'bootstrap-select.min', 'ajax-bootstrap-select' %>

  <%= javascript_include_tag 'admin/jquery.min', 'typeahead.bundle.min', 'general' %>

  <%= csrf_meta_tag %>

  <%= yield :head %>
</head>
<body>
    <%= render 'user/shared/navigation' %>

    <div class="ch-container">

        <%= yield %>

        <%= render 'shared/charismaFooter' %>
    </div>

    <!-- external javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Includes all the Javascript files related to the Charisma theme (theme used for admin screens) -->
    <%= render 'shared/charismaIncludedJs' %>

    <%= yield :scripts %>

    <%= javascript_include_tag 'bootstrap-select.min' %>
    <%= javascript_include_tag 'ajax-bootstrap-select.min' %>

</body>
</html>
