<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= favicon_link_tag 'favicon.ico' %>

  <title><%= site_name %></title>

  <!-- Main CSS files to be included in all pages. -->
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- Gon gem - managing text in JS files -->
  <%= include_gon %>

  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<% if notice && !(request.original_url.include? 'setup')%>
    <!-- We're not displaying any Devise notification during the setup screens -->
    <div class="alert alert-dismissable alert-success no-margin-bottom">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
<% elsif alert %>
    <div class="alert alert-dismissable alert-danger no-margin-bottom">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= alert %>
    </div>
<% elsif flash[:error] %>
    <div class="alert alert-dismissable alert-danger no-margin-bottom">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:error] %>
    </div>
<% end %>

<!-- Main part of the body -->
<div id="<%= is_in_admin_panel ? 'wrap-admin' : 'wrap' %>">

  <%= render 'shared/navigation' %>

  <% if is_in_admin_panel %>
      <!-- Rendering admin panel and its footer in a 'ch-container' div -->
      <div class="ch-container">
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
  <% else %>
      <!-- Rendering regular pages (home page, show ad...) -->
      <%= yield %>
  <% end %>

</div>


<% if !is_in_admin_panel %>
    <!-- Rendering footer for regular pages -->
    <%= render 'shared/footer' %>
<% end %>

<!-- Javascript files to be included in all pages. -->
<%= javascript_include_tag 'application' %>

<!-- Javascript files specific to some pages, to be included here. -->
<%= yield :scripts %>

</body>
</html>
