<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= favicon_link_tag 'favicon.ico' %>

  <title><%= site_name %></title>

  <!-- CSS files to be included in all non-admin pages -->
  <%= stylesheet_link_tag 'bootstrap','general', 'bootstrap-select.min', 'ajax-bootstrap-select' %>

  <!-- Javascript files to be included in all non-admin pages -->
  <%= javascript_include_tag 'jquery-1.11.1.js' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'typeahead.bundle.min', 'general' %>
  <%= javascript_include_tag 'bootstrap-select.min', 'ajax-bootstrap-select.min' %>

  <script>
      // Initializing an object for the type-ahead functionality, in the main navigation bar.
      // (to be used in general.js)
      var searched_ad_items = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: {
              url: '/getItems?type=prefetch_ad_items'
          },
          remote: {
              url: '/getItems?item=QUERY&type=search_ad_items',
              wildcard: 'QUERY'
          }
      });
      searched_ad_items.clearPrefetchCache();
      searched_ad_items.initialize(true);
  </script>
  <%= javascript_include_tag 'home' %>

  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<% if notice && !(request.original_url.include? 'setup')%>
    <!-- We're not displaying any Devise notification during the setup screens -->
    <div class="alert alert-dismissable alert-success no-margin-bottom">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
<% elsif alert %>
    <div class="alert alert-dismissable alert-danger no-margin-bottom">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= alert %>
    </div>
<% elsif flash[:error] %>
    <div class="alert alert-dismissable alert-danger no-margin-bottom">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:error] %>
    </div>
<% end %>


<%= yield %>

<!-- Modal popup that appears with OpenStreetMap address suggestions -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><%= t('home.refine_location') %></h4>
      </div>
      <div class="modal-body" id="modal-body-id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('home.cancel') %></button>
      </div>
    </div>
  </div>
</div>

<!-- jquery_ujs is already included in application.js. However, some Bootstrap themes might override it, causing
 functionalities like Devise sign out no to work. Therefore, we include jquery_ujs after loading all scripts -->
<%= javascript_include_tag 'jquery_ujs' %>

</body>
</html>
